<div class="d-flex flex-md-row flex-items-center classroom-resource-item">
  <div class="col-1 d-flexp">
    <span class="assignment-icon assignment-icon-individual left">
      <%= octicon 'repo' %>
    </span>
  </div>

  <div class="col-10 col-md-10 d-flex flex-column">
    <%= link_to stafftools_assignment_repo_path(assignment_repo.id) do %>
      <strong class="search-result-title"><%= t('views.stafftools.assignment_repos.assignment_title', user_login: assignment_repo.user_login, title: assignment_repo.assignment_title) %></strong>
    <% end %>

    <span class="text-gray css-truncate css-truncate-target"><%= t('views.stafftools.assignment_repos.created') %> <%= local_time_ago(assignment_repo.created_at) %></span>
  </div>
</div>
