<div class="site-content">
  <div class="stafftools-page-header clearfix">
    <span class="assignment-icon assignment-icon-individual left">
      <%= octicon 'repo', height: 22 %>
    </span>

    <h2 class="stafftools-heading">
      Assignment repository <%= @assignment_repo.id %>
    </h2>

    <p class="assignment-type text-muted">Assigment repository</p>
  </div>

  <div class="boxed-group">
    <h3>Assignment repository information</h3>

    <div class="boxed-group-inner">
      <table>
        <tr>
          <td class="text-emphasized">ID</td>
          <td><%= @assignment_repo.id %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Owned by</td>
          <td><%= link_to @assignment_repo.organization.title, stafftools_organization_path(@assignment_repo.organization.id) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Created by</td>
          <td><%= link_to @assignment_repo.creator.github_user.login, stafftools_user_path(@assignment_repo.creator) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Assignment</td>
          <td><%= link_to @assignment_repo.assignment.title, stafftools_assignment_path(@assignment_repo.assignment.id) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">User</td>
          <td><%= link_to @assignment_repo.user.github_user.login, stafftools_user_path(@assignment_repo.user) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Created on</td>
          <td><%= local_time(@assignment_repo.created_at) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
