<div class="remodal text-left" data-remodal-id="new-student-modal">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header f2-light text-left">Add students to your Roster</h2>

  <h4 class="py-1"> Import from </h4>

  <a data-remodal-target="link-to-google-classroom-modal"  class="btn btn-secondary d-inline-flex flex-items-center mb-3  ">
    <%= image_tag('google-classroom-logo.png', size: "25", class:"mr-2") %> Google Classroom
  </a>

  <h4 class="py-2 border-top"> Or manually add new students </h4>

  <%= form_tag({ controller: :rosters, action: :add_students }, method: :patch) do %>
    <dl class="form">
      <dt><label><%= roster.identifier_name.pluralize %></label></dt>
      <%= text_area_tag 'identifiers', '', class: "form-control input-block", id: 'entries-field' %>
    </dl>

    <dl class="form">
      <dt><label>Upload a CSV or text file:</label></dt>
      <label class='btn btn-secondary btn-sm' for="file-upload">Upload file</label>
      <%= file_field_tag :identifiers_file, style: 'display: none', id: 'file-upload', onchange: 'onIdentifiersUploaded()' %>
    </dl>

    <div class="form-actions border-top-0 pt-0 mt-4">
      <%= submit_tag 'Create students', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= render partial: 'orgs/rosters/link_to_google_classroom_modal'%>