<div class="site-content">
  <div class="site-content-cap">
    <div class="flex-table-item">
      <span class="group-assignment-icon assignment-icon-group left">
        <%= octicon('link') %>
      </span>

      <h2 class="site-content-heading">
        <%= @group_assignment_invitation.key %>
      </h2>

      <p class="assignment-type text-muted">Group assigment invitation</p>
    </div>
  </div>
  <div class="site-content-body">
    <div class="boxed-group">
      <h3>Info</h3>

      <div class="boxed-group-inner">
        <p>
          <h4>ID: <span class="lead"><%= @group_assignment_invitation.id %></span></h4>
          <h4>Assignment: <%= link_to @group_assignment_invitation.group_assignment.title, stafftools_group_assignment_path(@group_assignment_invitation.group_assignment.id) %></h4>
          <h4>Owned by: <%= link_to @group_assignment_invitation.organization.title, stafftools_organization_path(@group_assignment_invitation.organization.id) %></h4>
          <h4>Invitation URL: <%= link_to group_assignment_invitation_url(@group_assignment_invitation) %></h4>
          <h4>Created on: <span class="lead"><%= local_time(@group_assignment_invitation.created_at) %></span></h4>
        </p>
      </div>
    </div>
  </div>
</div>
