<div class="one-half left team">
  <div class="team-panel">
    <form accept-charset="UTF-8" action="/orgs/gsoc2016/teams/kiss/members?member=dinever" class="team-actions-form" data-form-nonce="47e2c5ac173e8f301bc683a6aa3d96d3b33e5222" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="cg0TcGnkvg3EciDDgc7lEPYtO48dX5UhJMo6sqTS0fuKcqZvjZFsdz3y0TtGKrxqItKe/uVAupIC7BoIccaczg=="></div>
      <button class="right btn btn-sm" data-ga-click="Orgs, join team, location:team listings; text:Join">
        Manage
      </button>
    </form>
    <span class="team-name" itemprop="name"><%= group.title %></span>
    <p class="team-description" itemprop="description"><%= pluralize(group.repo_accesses.count, 'student') %></p>
    <div class="team-members">
      <% group.repo_accesses.each do |repo_access| %>
        <% student = repo_access.user %>
        <%= link_to student.github_user.html_url, class: 'tooltipped tooltipped-s', 'aria-label' => student.github_user.login do %>
            <%= image_tag student.github_user.github_avatar_url(30), class: 'avatar avatar-small ', height: 30, width: 30, alt: "@#{student.github_user.login}" %>
        <% end %>
      <% end %>
      <% if group.repo_accesses.count > 7 %>
        <%= link_to '#' do %>
          <%= image_tag 'student-ellipse@2x.png', class: 'avatar avatar-small', height: 30, width: 30, alt: 'student ellipse' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
