<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon('jersey') %>
      </span>
      Set of teams settings
    </h2>
  </div>
</div>

<div class="site-content-body">
  <%= form_for [@organization, @grouping] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render partial: 'groupings/grouping_form_options', locals: { f: f } %>

      <div class="form-actions">
        <%= f.submit 'Save changes', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', settings_teams_organization_path(@organization), class: 'btn', role: 'button' %>
      </div>
  <% end %>
</div>
