<div class="remodal text-left" data-remodal-id="delete-assignment">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header text-left"><%= t('views.assignments.remove_assignment_header') %></h2>

  <div class="remodal-warning">
    <%= t('views.assignments.remove_assignment_warning') %>
  </div>

  <div class="remodal-description">
    <p>
      <%= raw t('views.assignments.remove_assignment_info', assignment_title: @assignment.title,repo_count: pluralize(@assignment.assignment_repos.count, 'participant repository'),organization_login: @organization.github_organization.login) %>
    </p>
  </div>

  <%= form_for [@organization, @assignment], html: { "data-name" => @assignment.title, method: 'delete' } do |f| %>
    <dl class="form js-normalize-submit">
      <dt><%= t('views.assignments.confirm_assignment_name') %></dt>
      <dd><input type="text" class="js-input-block form-control input-contrast input-block mt-1" autofocus></dd>
    </dl>

    <%= f.submit t('views.assignments.remove_assignment_btn_text'), class: 'btn btn-danger btn-block js-submit', disabled: true %>
  <% end %>
</div>
