<h1 class="page-header">Edit <%= @assignment.title %></h1>
<div class="columns">
  <div class="two-thirds column centered">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Update your assignment</h3>
      </div>
      <div class="panel-body">
        <%= form_for @assignment, url: organization_assignment_path(@organization, @assignment) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <dl class="form">
            <dt><%= f.label :title %></dt>
            <dd><%= f.text_field :title, class: 'textfield' %></dd>
          </dl>

          <div class="form-actions left">
            <%= link_to 'Delete Assignment', '#delete-assignment', class: 'btn btn-danger', role: 'button' %>
            <%= link_to 'Cancel', organization_assignment_path, class: 'btn', role: 'button' %>
            <%= f.submit 'Update Assignment', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'delete_assignment_modal', locals: { modal_id: 'delete-assignment' } %>
