<h1 class="page-header">New Assignment</h1>
<div class="columns">
  <div class="one-half column centered">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Create your new assignment</h3>
      </div>
      <div class="panel-body">
        <%= form_for @assignment, url: organization_assignments_path(@organization) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <dl class="form">
            <dt><%= f.label :title %></dt>
            <dd><%= f.text_field :title, class: 'textfield' %></dd>
          </dl>

          <div class="form-actions left">
            <%= f.submit 'Create Assignment', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
