<h1 class="page-header">New Individual Assignment</h1>
<div class="columns">
  <div class="two-thirds column centered">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Create your assignment</h3>
      </div>
      <div class="panel-body">
        <% url = organization_assignments_path(@organization) %>
        <%= form_for @assignment, url: url do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <dl class="form">
            <dt><%= f.label :title %></dt>
            <dd><%= f.text_field :title, class: 'textfield' %></dd>
          </dl>

          <hr>

          <div class="form-checkbox">
            <%= mega_octicon('repo') %>
            <label><%= f.radio_button :public_repo, true %> Public</label>
            <span class="note">Anyone can see this repository. You choose who can commit.</span>
          </div>

          <div class="form-checkbox">
            <%= mega_octicon('lock') %>
            <label><%= f.radio_button :public_repo, false %> Private</label>
            <span class="note">You choose who can see and commit to this repository.</span>
          </div>

          <hr>

          <div class="form-actions left">
            <%= link_to 'Cancel', organization_path(@organization), class: 'btn', role: 'button' %>
            <%= f.submit 'Create Assignment', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

