<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <div class="flex-table">
      <div class="flex-table-item">
        <span class="assignment-icon assignment-icon-individual left">
          <%= octicon 'person', height: 22 %>
        </span>

        <h2 class="site-content-heading">
          <%= @assignment.title %>
        </h2>

        <p class="assignment-type text-muted">Individual assigment</p>
      </div>

      <div class="flex-table-item settings">
        <%= link_to edit_organization_assignment_path(@organization, @assignment), class: 'btn right' do %>
          <%= octicon 'gear' %>
          Assignment settings
        <% end %>
      </div>
    </div>
  </div>

  <div class="site-content-body">
    <div class="invitation-content">
      <%= render @assignment.assignment_invitation %>
    </div>

    <% if @assignment_repos.present? %>
      <div class="assignment-repo-list">
        <%= render @assignment_repos %>
      </div>

      <%= render partial: 'shared/pagination', locals: { collection: @assignment_repos } %>
    <% else %>
      <div class="blankslate">
        <h3>"<%= @assignment.title %>" does not have any repositories.</h3>
        <p>Share the invitation link with your students to get started.</p>
      </div>
    <% end %>
  </div>
</div>
