<div class="remodal text-left" data-remodal-id="delete-group-assignment">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header text-left"><%= t('views.group_assignments.remove_assignment_header') %></h2>

  <div class="remodal-description">
    <p>
        <%= raw t('views.group_assignments.remove_assignment_info_slice_1', assignment_title: @group_assignment.title) %> <strong><%= pluralize(@group_assignment.group_assignment_repos.count, t('views.group_assignments.participant_repo')) %></strong> <%= raw t('views.group_assignments.remove_assignment_info_slice_2',organization_login: @organization.github_organization.login) %>
    </p>
  </div>

  <hr>

  <%= form_for [@organization, @group_assignment], html: { "data-name" => @group_assignment.title, method: 'delete' } do |f| %>
    <dl class="form js-normalize-submit">
      <dt><%= t('views.group_assignments.confirm_assignment_name') %></dt>
      <dd><input type="text" class="js-input-block form-control input-contrast input-block" autofocus></dd>
    </dl>

    <%= f.submit t('views.group_assignments.remove_assignment_btn_text'), class: 'btn btn-danger btn-block js-submit', disabled: true %>
  <% end %>
</div>
