<div class="assignment-list-item flex-table">
  <div class="flex-table-item">
    <span class="group-assignment-icon assignment-icon-group left">
      <%= octicon('organization') %>
    </span>
    <h3 class="assignment-name-link">
      <%= link_to group_assignment.title, organization_group_assignment_path(@organization, group_assignment), class: 'js-navigation' %>
    </h3>
    <p class="assignment-type text-muted">Group assignment for <strong><%= group_assignment.grouping.title %></strong></p>
  </div>

  <div class="flex-table-item zeroclipboard-form">
    <div class="input-group assignment-invite-link">
      <%= content_tag :input, '', type: 'text', id: group_assignment.invitation.key, class: 'js-url-field', value: group_assignment_invitation_url(group_assignment.invitation), readonly: 'readonly' %>
      <span class="input-group-button">
        <button aria-label="Copy to clipboard" id=<%= group_assignment.invitation.key %> class="js-zeroclipboard btn tooltipped tooltipped-s" data-copied-hint="Copied!" type="button">
          <%= octicon('clippy') %>
          Copy invitation link
        </button>
      </span>
    </div>
  </div>
</div>

