<dl class="form">
  <dt><%= f.label :title %></dt>
  <dd><%= f.text_field :title, class: 'textfield' %></dd>
</dl>

<dl class="form">
  <div class="form-checkbox">
    <label><%= f.radio_button :public_repo, true %> Public</label>
    <%= mega_octicon('repo') %>
    <span class="note">Submit assignments using public repositories. All submissions will be visible to the world.</span>
  </div>

  <div class="form-checkbox">
    <label><%= f.radio_button :public_repo, false %> Private</label>
    <%= mega_octicon('lock') %>
    <span class="note">Submit assignments using private repositories. Submissions will only be visible to the submitter and organization owners.</span>
  </div>
</dl>

<dl class="form">
  <dt><label>Add your starter code from GitHub <small>(Optional)</small> </label></dt>
  <dd><input class="textfield" type="text" name="repo_name" placeholder="e.g. education/classroom"></dd>
</dl>

<% if @group_assignment.new_record? %>
  <dl class="form">
    <dt><label>Create a reusable set of teams</label></dt>
    <dd><input class="textfield" type="text" name="grouping[title]" id="grouping_title"></dd>
  </dl>

  <% if @organization.groupings.present? %>
    <dt><label>OR choose an existing group of teams</label></dt>
    <dl class="form">
      <dd>
        <%= select :group_assignment, :grouping_id, options_for_select(@groupings), include_blank: true %>
      </dd>
    </dl>
  <% end %>
<% end %>
