<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-group">
        <%= octicon 'organization', height: 22 %>
      </span>
      <%= t('views.group_assignments.assignment_settings') %>
    </h2>
  </div>
</div>

<div class="site-content-body">
  <%= form_for [@organization, @group_assignment] do |f| %>

    <div class="columns">
      <div class="two-thirds column">
        <%= render partial: 'group_assignments/group_assignment_form_options', locals: { f: f } %>
      </div>

      <div class="one-third column dangerzone-container pt-3">
        <p class="text-emphasized"><%= t('views.group_assignments.remove_assignment_btn_text') %></p>
        <p class="text-gray"><%= t('views.group_assignments.remove_assignment_details') %></p>

        <a data-remodal-target="delete-group-assignment" class="btn btn-danger btn-block"><%= t('views.group_assignments.remove_assignment_btn_text') %></a>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('views.group_assignments.save_assignment_btn_text'), class: 'btn btn-primary' %>
      <%= link_to t('views.group_assignments.cancel'), [@organization, @group_assignment], class: 'btn', role: 'button' %>
    </div>
  <% end %>
</div>

<%= render partial: 'group_assignments/delete_group_assignment_modal' %>
