<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-group">
        <%= octicon 'organization', height: 22 %>
      </span>
      New group assignment
    </h2>

  </div>
</div>

<div class="site-content-body">
  <%= form_for [@organization, @group_assignment] do |f| %>
    <div class="columns">
      <div class="two-thirds column">
        <%= render 'shared/error_messages', object: f.object %>
        <%= render partial: 'group_assignments/group_assignment_form_options', locals: { f: f } %>
      </div>
      <% if !@organization.has_private_repos? %>
        <div class="one-third column dangerzone-container">
          <p class="text-emphasized">Unlimited Free Private Repositories</p>
          <p class="text-muted"> If you have not already, you may apply for unlimited free private repositories for this classroom organization <a href="https://education.github.com/discount_requests/new">here</a>.</p>
        </div>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Create Assignment', class: 'btn btn-green', id: 'group_assignment_submit', disabled: true %>
      <%= link_to 'Cancel', organization_path(@organization), class: 'btn', role: 'button' %>
    </div>
  <% end %>
</div>
