<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <div class="flex-table">
      <div class="flex-table-item">
        <h2 class="site-content-heading">
          <span class="assignment-icon assignment-icon-group">
            <%= octicon('organization') %>
          </span>
          <%= @group_assignment.title %>
        </h2>
      </div>

      <div class="flex-table-item">
        <%= link_to 'Settings', edit_organization_group_assignment_path(@organization, @group_assignment), class: 'btn btn-green right' %>
      </div>
    </div>
  </div>

  <div class="site-content-body">
    <div class="invitation-content">
      <%= render @group_assignment.group_assignment_invitation %>
    </div>

    <% if @group_assignment_repos.present? %>
      <%= render   @group_assignment_repos %>
      <%= paginate @group_assignment_repos %>
    <% else %>
      <div class="blankslate">
        <h3>"<%= @group_assignment.title %>" does not have any repositories.</h3>
        <p>Share the invitation link with your students to get started.</p>
      </div>
    <% end %>
  </div>
</div>
