<%= render 'organizations/organization_banner' %>

<%= render 'group_assignments/banner' %>

<div class="border-top border-bottom bg-white">
  <div class="container-lg p-responsive py-5">
    <% if @organization.roster %>
      <div class="Box">
        <div class="Box-header text-gray d-flex flex-items-center">
          <span id='students-tab' onclick="selectTab(this)" class="cursor selected mr-3" aria-current="page">Teams</span>
          <span id='unlinked-tab' onclick="selectTab(this)" class="cursor flex-auto">Students not on a team</span>

          <% if download_repositories_enabled? %>
            <%= render partial: 'shared/open_on_assistant_modal', locals: {
              assistant_url: assistant_organization_group_assignment_url,
              enabled: @group_assignment_repos.present?
            } %>
          <% end %>
        </div>
      </div>

      <span id='students-span'>
        <div class="assignment-repo-list">
          <% if @group_assignment_repos.present? %>
            <div class="assignment-repo-list">
              <% @group_assignment_repos.each do |group_assignment_repo| %>
                <%= render partial: 'orgs/group_assignment_repos/group_assignment_repo', \
                  locals: { url: organization_group_assignment_group_assignment_repo_path(@organization, @group_assignment, group_assignment_repo) } %>
              <% end %>
            </div>

            <%= render partial: 'shared/pagination', locals: { collection: @group_assignment_repos, param_name: :teams_page } %>
          <% else %>
            <div class="blankslate">
              <h3>"<%= @group_assignment.title %>" does not have any repositories.</h3>
              <p class="mb-0">Share the invitation link with your students to get started.</p>
            </div>
          <% end %>
        </div>
      </span>

      <span id='unlinked-span' class='hidden-tab'>
        <div class="assignment-repo-list">
          <% if @students_not_on_team.present? %>
            <% @students_not_on_team.each do |entry| %>
              <%= render partial: 'orgs/assignment_repos/assignment_repo', locals: {
                url: organization_group_assignment_roster_entry_path(@organization, @group_assignment, entry)
              } %>
            <% end %>

            <%= render partial: 'shared/pagination', locals: { collection: @students_not_on_team, param_name: :students_page } %>
          <% else %>
          <div class="blankslate">
            <h3>All students have joined a team.</h3>
          </div>
          <% end %>
        </div>
      </span>
    <% else %>
      <% if @group_assignment_repos.present? %>
        <div class="assignment-repo-list">
          <% @group_assignment_repos.each do |group_assignment_repo| %>
            <%= render partial: 'orgs/group_assignment_repos/group_assignment_repo', \
              locals: { url: organization_group_assignment_group_assignment_repo_path(@organization, @group_assignment, group_assignment_repo) } %>
          <% end %>
        </div>

        <%= render partial: 'shared/pagination', locals: { collection: @group_assignment_repos } %>
      <% else %>
        <div class="blankslate">
          <h3>"<%= @group_assignment.title %>" does not have any repositories.</h3>
          <p class="mb-0">Share the invitation link with your students to get started.</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "shared/roster_tab_script" %>
