<%= render 'organizations/organization_banner' %>
<%= render partial: 'permission_info_box' %>

<div class="site-content">
  <div class="site-content-cap">
    <div class="flex-table">
      <div class="flex-table-item">
        <span class="group-assignment-icon assignment-icon-group left">
          <%= octicon 'organization', height: 22 %>
        </span>
        <h2 class="site-content-heading group-assignment-title">
          <%= @group_assignment.title %>
        </h2>
        <p class="assignment-type text-muted">Group assignment for <strong><%= @group_assignment.grouping.title %></strong></p>
      </div>

      <div class="flex-table-item settings">
        <%= link_to edit_organization_group_assignment_path(@organization, @group_assignment), class: 'btn right' do %>
          <%= octicon 'gear' %>
          Group assignment settings
        <% end %>
      </div>
    </div>
  </div>

  <div class="site-content-body">
    <div class="invitation-content">
      <%= render @group_assignment.group_assignment_invitation %>
    </div>

    <% if @group_assignment_repos.present? %>
      <div class="group-assignment-repo-list">
        <%= render @group_assignment_repos %>
      </div>

      <%= render partial: 'shared/pagination', locals: { collection: @group_assignment_repos } %>
    <% else %>
      <div class="blankslate">
        <h3>"<%= @group_assignment.title %>" does not have any repositories.</h3>
        <p>Share the invitation link with your students to get started.</p>
      </div>
    <% end %>
  </div>
</div>
