<% content_for :organization_banner do %>
  <div class="organization-banner">
    <div class="container">
      <%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-green' %>
      <h1 class="organization-name"><%= @organization.title %></h1>
    </div>
  </div>
<% end %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-group">
        <%= octicon('organization') %>
      </span>
      <%= @group_assignment.title %>
    </h2>
  </div>

  <div class="site-content-body">
    <%= render @group_assignment.group_assignment_invitation %>
  </div>
</div>
