<nav class="menu">
  <span class="menu-heading"><%= octicon 'rocket' %> <%= t('views.stafftools.site_admin') %></span>
  <%= link_to t('views.stafftools.search'), stafftools_root_path, class: 'menu-item selected' %>
</nav>

<nav class="menu">
  <span class="menu-heading"><%= octicon 'code' %> <%= t('views.stafftools.developer_tools') %></span>
  <%= link_to t('views.stafftools.features'), stafftools_flipper_path, class: 'menu-item' %>
</nav>
