<div class="identifier-type-list-item flex-table">
  <div class="flex-table-item">
    <strong><%= student_identifier_type.name %></strong>
    <p class="identifier-type-description text-muted"><%= student_identifier_type.description %></p>
  </div>

  <div class="btn-group right">
    <%= link_to 'Edit', edit_organization_student_identifier_type_path(@organization, student_identifier_type), class: 'btn', role: 'button' %>
    <%= link_to 'Delete', '#', class: 'btn btn-danger', 'data-remodal-target': "delete-identifier-type-#{student_identifier_type.id}" %>
  </div>

  <small class="meta-data right"><%= pluralize(student_identifier_type.student_identifiers.count , 'student') %></small>

</div>

<div class="remodal text-left" data-remodal-id="<%= "delete-identifier-type-#{student_identifier_type.id}" %>">
  <button data-remodal-action="close" class="remodal-close"><%= octicon('x') %></button>
  <h2 class="remodal-header"><%= t('views.student_identifier_types.are_you_sure_delete_identifier_type') %></h2>

  <div class="remodal-warning">
    <%= t('views.student_identifier_types.assignments_will_not_ask_student_identification') %>
  </div>

  <%= form_for [@organization, student_identifier_type], html: { method: 'delete' } do |f| %>
      <%= f.submit t('views.student_identifier_types.delete_identifier'), class: 'btn btn-danger btn-block js-navigation js-submit' %>
  <% end %>
</div>
