<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <%= t('views.student_identifier_types.new_identifier_type') %>
    </h2>
  </div>
</div>

<div class="site-content-body">
  <div class="flash flash-with-icon flash-form">
    <%= octicon 'alert' %>
    <%= t('views.student_identifier_types.dont_ask_student_confidential_information') %>
  </div>
  <%= form_for [@organization, @student_identifier_type] do |f| %>
      <%= render partial: 'student_identifier_types/form_options', locals: { f: f } %>
      <div class="form-actions">
        <%= f.submit 'Create Identifier', class: 'btn btn-green js-navigation' %>
        <%= link_to 'Cancel', session[:return_to], class: 'btn', role: 'button'%>
      </div>
  <% end %>
</div>
