<% if peek_enabled? %>
  <div id="peek" class="<%= Peek.env %><%= ' disabled' if cookies[:peek] == 'false' %>" data-request-id="<%= Peek.request_id %>">
    <div class="container-lg">
      <% Peek.views.each do |view| %>
        <div id="<%= view.dom_id %>" class="view">
          <%= render view.partial_path, :view => view %>
        </div>
      <% end %>

      <div id="peek-view-stafftools" class="view">
        <%= link_to stafftools_root_path, class: 'stafftools-rocket tooltipped tooltipped-s', "aria-label" => 'Site Admin' do %>
          <%= octicon 'rocket' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
