<div class="classroom-resource-item">
  <span class="assignment-icon assignment-icon-group left">
    <%= octicon 'organization', height: 22 %>
  </span>

  <%= link_to stafftools_group_path(group.id) do %>
    <strong class="search-result-title">The <%= group.title %> Group for <%= group.organization_login %></strong>
  <% end %>

  <span class="text-muted css-truncate css-truncate-target">Created <%= local_time_ago(group.created_at) %></span>
</div>
