<div class="site-content">
  <div class="stafftools-page-header clearfix">
    <span class="assignment-icon assignment-icon-group left">
      <%= octicon 'organization', height: 22 %>
    </span>

    <h2 class="site-content-heading">
      <%= @group.title %>
    </h2>

    <p class="assignment-type text-muted">Group</p>
  </div>

  <div class="boxed-group">
    <h3>Info</h3>

    <div class="boxed-group-inner">
      <table>
        <tr>
          <td>ID</td>
          <td><%= @group.id %></td>
        </tr>
        <tr>
          <td>Owned by</td>
          <td><%= link_to @group.organization.title, stafftools_organization_path(@group.organization.id) %></td>
        </tr>
        <tr>
          <td>Grouping</td>
          <td><%= link_to @group.grouping.title, stafftools_grouping_path(@group.grouping) %></td>
        </tr>
        <tr>
          <td>GitHub URL</td>
          <td><%= link_to @group.github_team.html_url, @group.github_team.html_url %></td>
        </tr>
        <tr>
          <td>Created on</td>
          <td><%= local_time(@group.created_at) %></td>
        </tr>
      </table>
    </div>
  </div>

  <% if @group.repo_accesses.present? %>
    <div class="boxed-group">
      <h3>Team Members</h3>

      <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
          <% @group.repo_accesses.each do |repo_access| %>
            <li class="clearfix">
              <%= render partial: 'stafftools/organizations/user', locals: { user: repo_access.user } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
