<div class="site-content">
  <div class="site-content-cap">
    <span class="assignment-icon assignment-icon-group left">
      <%= octicon('organization') %>
    </span>

    <h2 class="site-content-heading">
      <%= @group.title %>
    </h2>

    <p class="assignment-type text-muted">Group</p>
  </div>

  <div class="site-content-body">
    <div class="boxed-group">
      <h3>Info</h3>

      <div class="boxed-group-inner">
        <% organization = @group.organization %>

        <table>
          <tr>
            <td class="text-emphasized">ID</td>
            <td><%= @group.id %></td>
          </tr>
          <tr>
            <td class="text-emphasized">GitHub ID</td>
            <td><%= @group.github_team_id %></td>
          </tr>
          <tr>
            <td class="text-emphasized">Owned by</td>
            <td><%= link_to organization.title, stafftools_organization_path(organization.id) %></td>
          </tr>
          <tr>
            <td class="text-emphasized">Grouping</td>
            <td><%= link_to @group.grouping.title, stafftools_grouping_path(@group.grouping) %></td>
          </tr>
          <tr>
            <td class="text-emphasized">GitHub URL</td>
            <td><%= link_to @group.github_team_url, @group.github_team_url %></td>
          </tr>
          <tr>
            <td class="text-emphasized">Created on</td>
            <td><%= local_time(@group.created_at) %></span></td>
          </tr>
        </table>
      </div>
    </div>

    <% if @group.repo_accesses.present? %>
      <div class="boxed-group">
        <h3>Team Members</h3>

        <div class="boxed-group-inner">
          <ul class="boxed-group-list standalone">
            <% @group.repo_accesses.includes(:user).each do |repo_access| %>
              <%= render partial: 'stafftools/organizations/user', locals: { user: repo_access.user } %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
