<div class="site-content">
  <div class="d-flex flex-md-row flex-items-center stafftools-page-header">
    <div class="col-1">
      <span class="assignment-icon assignment-icon-group left">
        <%= octicon 'organization', height: 22 %>
      </span>
    </div>

    <div class="col-10 col-md-10 d-flex flex-column">
      <h2 class="stafftools-heading">
        <%= @group.title %>
      </h2>

      <p class="assignment-type text-gray"><%= t('views.stafftools.groups.group') %></p>
    </div>
  </div>

  <div class="boxed-group">
    <h3>Info</h3>

    <div class="boxed-group-inner">
      <table>
        <tr>
          <td class="text-emphasized"><%= t('views.stafftools.groups.id') %></td>
          <td><%= @group.id %></td>
        </tr>
        <tr>
          <td class="text-emphasized"><%= t('views.stafftools.groups.owner') %></td>
          <td><%= link_to @group.organization.title, stafftools_organization_path(@group.organization.id) %></td>
        </tr>
        <tr>
          <td class="text-emphasized"><%= t('views.stafftools.groups.grouping') %></td>
          <td><%= link_to @group.grouping.title, stafftools_grouping_path(@group.grouping.id) %></td>
        </tr>
        <tr>
          <td class="text-emphasized"><%= t('views.stafftools.groups.github_url') %></td>
          <td><%= link_to @group.github_team.html_url, @group.github_team.html_url %></td>
        </tr>
        <tr>
          <td class="text-emphasized"><%= t('views.stafftools.groups.created_on') %></td>
          <td><%= local_time(@group.created_at) %></td>
        </tr>
      </table>
    </div>
  </div>

  <% if @group.repo_accesses.present? %>
    <div class="boxed-group">
      <h3><%= t('views.stafftools.groups.team_members') %></h3>

      <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
          <% @group.repo_accesses.each do |repo_access| %>
            <li class="clearfix">
              <%= render partial: 'stafftools/organizations/user', locals: { user: repo_access.user } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="boxed-group dangerzone">
    <h3>Dangerzone</h3>

    <div class="boxed-group-inner">
      <p>
        <a data-remodal-target="delete-group" class="btn btn-danger">Delete this group</a>
      </p>

      <div class="remodal text-left" data-remodal-id="delete-group">
        <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
        <h2 class="remodal-header">Are you ABSOLUTELY sure?</h2>

        <div class="remodal-warning">
          Unexpected things will happen if you don't read this!
        </div>

        <div class="remodal-description">
          <p>
            This action <strong>CANNOT</strong> be undone.<br>
            Please note this will delete the record on GitHub Classroom and the team on GitHub, but not the repository on GitHub.
          </p>
        </div>

        <%= form_for @group, url: stafftools_group_path(@group.id), html: { "data-name" => @group.id, method: 'delete' } do |f| %>
          <dl class="form js-normalize-submit">
            <dt>Please type the ID (<%= @group.id %>) of the group to confirm</dt>
            <dd><input type="text" class="js-input-block" autofocus></dd>
          </dl>

          <%= f.submit 'Delete this Group', class: 'btn btn-danger btn-block js-submit', disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
