<div class="classroom-resource-item">
  <span class="assignment-icon assignment-icon-individual left">
    <%= octicon 'person' %>
  </span>

  <%= link_to stafftools_assignment_path(assignment.id) do %>
    <strong class="search-result-title">Assignment <%= assignment.title %> for <%= assignment.organization_login %></strong>
  <% end %>

  <span class="text-muted css-truncate css-truncate-target">Created <%= local_time_ago(assignment.created_at) %></span>
</div>
