<div class="classroom-resource-item">
  <span class="assignment-icon assignment-icon-individual left">
    <%= octicon 'person', height: 22 %>
  </span>

  <%= link_to stafftools_repo_access_path(repo_access.id) do %>
    <strong class="search-result-title">@<%= repo_access.user_login %>'s repository access for <%= repo_access.organization_login %></strong>
  <% end %>

  <span class="text-muted css-truncate css-truncate-target">Created <%= local_time_ago(repo_access.created_at) %></span>
</div>
