<div class="site-content">
  <div class="site-content-cap">
    <span class="assignment-icon assignment-icon-individual left">
      <%= octicon('person') %>
    </span>

    <h2 class="site-content-heading">
      RepoAccess: <%= @repo_access.id %>
    </h2>

    <p class="assignment-type text-muted">RepoAccess</p>
  </div>

  <div class="site-content-body">
    <div class="boxed-group">
      <h3>Info</h3>

      <div class="boxed-group-inner">
        <% owner        = @repo_access.user.decorate %>
        <% organization = @repo_access.organization %>

        <p>
          <h4>Owned by <%= link_to owner.login, stafftools_user_path(owner) %></h4>
          <h4>Organization <%= link_to organization.title, stafftools_organization_path(organization.id) %></h4>
          <h4>Created on <span class="lead"><%= local_time(@repo_access.created_at) %></span></h4>
        </p>
      </div>
    </div>
  </div>
</div>
