<h1 class="page-header">Dashboard</h1>
<div class="columns">
  <% if @organizations.present? %>
    <div class="one-fourth column">
      <%= link_to new_organization_path, class: 'btn btn-primary organization-btn', role: 'button' do %>
        <%= octicon('plus') %> Add Organization
      <% end %>
    </div>

    <div class="three-fourths column">
      <% @organizations.each do |organization| %>
        <%= link_to organization.title, organization_path(organization) %>
      <% end %>
    <% else %>
      <div class="blankslate">
        <h3>This classroom has no organizations. Add one now.</h3>
        <%= link_to new_organization_path, class: 'btn btn-primary organization-btn', role: 'button' do %>
          <%= octicon('plus') %> Add Organization
        <% end %>
      </div>
    <% end %>
  </div>
</div>
