<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <%= link_to "GitHub Education", 'https://education.github.com' %>
      <%= link_to 'http://github.com/jasonlong' do %>
        <img alt="@jasonlong" class="avatar" height="20" src="https://avatars3.githubusercontent.com/u/6104?v=3&amp;s=40" width="20">
      <% end %>
      <% if logged_in? %>
        <%= render 'shared/staff_links' if staff? %>
        <%= link_to logout_path, method: :post do %>
          <%= octicon('sign-out') %>
        <% end %>
      <% else %>
        <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>
    <%= link_to(image_tag('logo@2x.png', :class => 'site-logo', :alt => 'GitHub for Classrooms'), (logged_in? ? dashboard_path : root_path)) %>
  </div>
</header>
