<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <%= link_to "GitHub Education", 'https://education.github.com' %>
      <% if logged_in? %>
        <%= render 'shared/staff_links' if staff? %>
        <%= link_to 'Sign out', logout_path, method: :post %>
      <% else %>
        <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>
    <%= link_to(image_tag('logo@2x.png', :class => 'site-logo', :alt => 'GitHub for Classrooms'), (logged_in? ? dashboard_path : root_path)) %>
  </div>
</header>
