<header class="site-header">
  <div class="container">
    <%= link_to(image_tag('logo@2x.png', class: 'site-logo', alt: 'GitHub for Classrooms'), (logged_in? ? organizations_path : root_path)) %>

    <nav class="site-nav">
      <ul>
        <li>
          <%= link_to "GitHub Education", 'https://education.github.com', target: '_blank' %>
        </li>

        <% if logged_in? %>
          <li>
            <%= link_to 'https://github.com/education/classroom/issues/new?labels[]=report', class: 'tooltipped tooltipped-s', 'aria-label' => 'Report an issue' do %>
              <%= octicon('bug') %>
            <% end %>
          </li>

          <li>
            <% if impersonating?(current_user, true_user) %>
              <%= link_to stop_impersonating_stafftools_user_path(current_user), class: 'tooltipped tooltipped-s', method: :delete, 'aria-label' => "@#{decorated_true_user.login} impersonating @#{decorated_current_user.login}" do %>
                <div class="avatar-parent-child left">
                  <%= image_tag decorated_current_user.avatar_url(40), class: 'avatar', alt: "@#{decorated_current_user.login}", height: 20, width: 20 %>
                  <%= image_tag decorated_true_user.avatar_url(20), class: 'avatar avatar-child', alt: "@#{decorated_true_user.login}", height: 10, width: 10 %>
                </div>
              <% end %>
            <% else %>
              <%= link_to decorated_current_user.github_url, class: 'tooltipped tooltipped-s', 'aria-label' => 'View GitHub profile' do %>
                <%= image_tag decorated_current_user.avatar_url(40), class: 'avatar', alt: "@#{decorated_current_user.login}", height: 20, width: 20 %>
              <% end %>
            <% end %>
          </li>

          <li>
            <%= link_to logout_path, method: :post, class: 'tooltipped tooltipped-s', 'aria-label' => 'Sign out' do %>
              <%= octicon('sign-out') %>
            <% end %>
          </li>

        <% else %>
          <li><%= link_to 'Sign in', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
