<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <%= link_to "GitHub Education", 'https://education.github.com', target: '_blank' %>

      <%= link_to 'https://github.com/education/classroom/issues/new' do %>
        <%= octicon('bug') %>
      <% end %>

      <%= link_to decorated_current_user.github_url do %>
        <%= image_tag decorated_current_user.avatar_url(40), class: 'avatar', alt: "@#{decorated_current_user.login}", height: 20, width: 20 %>
      <% end %>

      <%= link_to logout_path, method: :post do %>
        <%= octicon('sign-out') %>
      <% end %>
    </nav>

    <%= image_tag('logo@2x.png', :class => 'site-logo', :alt => 'GitHub for Classrooms') %>
  </div>
</header>
