<% # optional params    %>
<% url           ||= '' %>
<% hover_text    ||= '' %>

<% if url.present? %>
  <a class="repo-detail-item <%= 'tooltipped tooltipped-n' if hover_text.present? %>" aria-label="<%= hover_text %>" href="<%= url %>" target='_blank'>
    <span class="submission-icon-container">
      <%= octicon octicon_name, height: 20, class: octicon_class %>
    </span>
    <span class='text-muted'><%= text %></span>
  </a>
<% else %>
    <span class="repo-detail-item <%= 'tooltipped tooltipped-n' if hover_text.present? %>" aria-label="<%= hover_text %>">
      <span class='submission-icon-container'>
        <%= octicon octicon_name, height: 20, class: octicon_class %>
      </span>
      <span class='text-muted'><%= text %></span>
    </span>
<% end %>
