<% # optional params    %>
<% octicon_class ||= '' %>
<% url           ||= '' %>
<% hover_text    ||= '' %>

<div class='repo-detail-item'>
  <% if url.present? %>
    <a class="submission-icon-container tooltipped tooltipped-n" aria-label="<%= hover_text %>" href="<%= url %>" target='_blank' >
      <%= octicon octicon_name, height: 20, class: octicon_class %>
    </a>
  <% else %>
    <span class="submission-icon-container tooltipped tooltipped-n" aria-label="<%= hover_text %>">
      <%= octicon octicon_name, height: 20, class: octicon_class %>
    </span>
  <% end %>
  <span class='text-muted'><%= text %></span>
</div>
