<% submit_url = local_assigns.fetch(:submit_url) %>
<% query = local_assigns.fetch(:query, nil) %>
<% search_placeholder = local_assigns.fetch(:search_placeholder, "Search...") %>
<% title = local_assigns.fetch(:select_menu_title, "Sort by:") %>
<% selected_option = local_assigns.fetch(:selected_option, options.first) %>
<% options = local_assigns.fetch(:options, []) %>

<%= form_tag submit_url, method: :get, remote: :true, role: "search", id: "js-filtering-form", class: "d-block d-sm-flex" do %>
  <div class="mb-3 mb-sm-0 mr-sm-3 flex-auto">
    <input type="search" id="your-classrooms-filter" name="query"
           class="form-control width-full"
           placeholder="<%= search_placeholder %>"
           aria-label="<%= search_placeholder %>"
           value="<%= query %>">
  </div>

  <div class="d-flex">
    <details class="details-reset details-overlay position-relative mr-2" id="sort-options">
      <summary class="btn">
        <i><%= title %></i>
        <span data-menu-button>
          <%= selected_option %>
        </span>
        <span class="dropdown-caret"></span>
      </summary>

      <details-menu class="SelectMenu right-md-0">
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Sort by:</span>
            <button class="SelectMenu-closeButton" type="button" data-toggle-for="sort-options"><%= octicon("x", :"aria-label" => "Close menu") %></button>
          </header>
          <div class="SelectMenu-list">
            <% options.each do |name, value| %>
              <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= selected_option == name %>" tabindex="0">
                <%= radio_button_tag "sort_by", name, selected_option == name, "hidden": "true", "data-autosubmit": "true" %>
                <%= octicon("check", class: "SelectMenu-icon") %>
                <span class="text-normal" data-menu-button-text><%= name %></span>
              </label>
            <% end %>
          </div>
        </div>
      </details-menu>
    </details>
  </div>
<% end %>
