<% submit_url = local_assigns.fetch(:submit_url) %>
<% query = local_assigns.fetch(:query, nil) %>
<% search_placeholder = local_assigns.fetch(:search_placeholder, "Search...") %>
<% sort_menu_title = local_assigns.fetch(:sort_menu_title, "Sort by:") %>
<% view_menu_title = local_assigns.fetch(:view_menu_title, "View:") %>
<% sort_options = local_assigns.fetch(:sort_options, []) %>
<% view_options = local_assigns.fetch(:view_options, []) %>
<% sort_option_links = local_assigns.fetch(:sort_option_links, []) %>
<% view_option_links = local_assigns.fetch(:view_option_links, []) %>
<% active_sort_option = local_assigns.fetch(:active_sort_option, sort_options.first) %>
<% active_view_option = local_assigns.fetch(:active_view_option, view_options.first) %>

<div class="TableObject" id="js-search-and-sort-component" >
  <div class="TableObject-item TableObject-item--primary">
    <%= form_tag submit_url, id: "search-form", method: :get, remote: true do %>
      <%= text_field_tag :query, query, class: "input-block form-control", placeholder: search_placeholder, autofocus: true, autocomplete: :off, id: "search-query-field" %>
      <%= hidden_field_tag :sort_by, @current_sort_mode, id: "sort-mode-field" %>
      <%= hidden_field_tag :view, @current_view_mode, id: "view-mode-field" %>
    <% end %>
  </div>
  <% if archive_classrooms_enabled? %>
    <div class="TableObject-item">
      <div id="view-menu-container">
        <%= render partial: "shared/sort_menu",
            locals: {
              title: view_menu_title,
              options: view_options,
              option_links: view_option_links,
              selected_option: active_view_option,
              remote: true
            }
        %>
      </div>
    </div>
  <% end %>
  <div class="TableObject-item">
    <div id="sort-menu-container">
      <%= render partial: "shared/sort_menu",
          locals: {
            title: sort_menu_title,
            options: sort_options,
            option_links: sort_option_links,
            selected_option: active_sort_option,
            remote: true
          }
      %>
    </div>
  </div>
</div>
