<% view = Shared::SharedJoinRosterView.new(roster: roster, invitation: invitation) %>

<div class="container-md pt-3">
  <div class="py-4 px-5 bg-gray-light border">
    <div class="d-inline-flex flex-items-center">
      <img src='https://ghicons.github.com/assets/images/light/Education.png' alt='GitHub Education icon' height='56' width='56' class='mr-2'/>
      <div class="overflow-hidden">
        <h2 class="text-gray text-normal mt-2">Join the classroom, <%= organization.title %></h2>
      </div>
    </div>
  </div>
  <div class="px-5 py-3 bg-white border border-top-0">
    <p class="f4 text-gray lh-default">To join the GitHub Classroom for this course, please select yourself from the list below to associate your GitHub account with your school’s identifier (i.e., name, ID, or email).</p>
    <p class='text-right text-gray pt-2'>Can’t find your name? <%= link_to "Skip to the next step →" , view.skip_path %> </p>
    <div class="border my-3">
      <h3 class="f4 text-normal bg-gray-light p-2 pl-3 border-bottom "><%= roster.identifier_name %></h3>
        <div class="overflow-auto" style="height:calc(50vh - 60px);">
          <% roster.unlinked_entries.sort_by(&:identifier).each do |entry| %>
            <div class="menu-item px-2 py-1">
              <%= form_tag({ controller: view.controller_name, action: :join_roster }, method: :patch) do %>
                <%= hidden_field_tag 'roster_entry_id', entry.id %>
                <%= submit_tag entry.identifier, class: 'width-full height-full p-2 text-left mb-0 border-0', style: 'background:transparent;cursor:pointer' %>
                <%= octicon "chevron-right", class: 'float-right text-gray-light', style: 'margin-top: -24px;' %>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>

  </div>
</div>
