<div class="remodal text-left" data-remodal-id="impersonate-user">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header"><%= t('views.stafftools.users.impersonate_user_header') %></h2>

  <div class="remodal-warning">
    <%= t('views.stafftools.users.impersonate_user_warning') %>
  </div>

  <div class="remodal-description">
    <p><%= raw t('views.stafftools.users.impersonate_user_desc') %></p>
  </div>

  <%= form_tag impersonate_stafftools_user_path(user.id), 'data-name' => user.github_user.login do %>
    <dl class="form js-normalize-submit">
      <dt><%= raw t('views.stafftools.users.impersonate_user_confirmation', user_login: user.github_user.login) %></dt>
      <dd><input type="text" class="js-input-block form-control"></dd>
    </dl>

    <%= submit_tag t('views.stafftools.users.impersonate_user_btn', user_login: user.github_user.login), class: 'btn btn-block btn-danger js-submit', disabled: true %>
  <% end %>
</div>
