<div class="d-flex flex-md-row flex-items-center stafftools-page-header mt-2">
  <div class="col-1 d-flexp">
    <span class="assignment-icon assignment-icon-individual left">
      <%= image_tag @user.github_user.github_avatar_url(96), height: 48, width: 48, class: 'avatar left', alt: "@#{@user.github_user.login}" %>
    </span>
  </div>

  <div class="col-10 col-md-10 d-flex flex-column">
    <h2 class="stafftools-heading">
      <%= @user.github_user.login %>
    </h2>

    <p class="assignment-type text-gray">
      <%= content_tag(:span, 'Staff', class: 'staff-badge') if @user.staff? %> User
    </p>
  </div>
</div>

<div class="Box Box--stafftools Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">User information</h3>
  </div>

  <div class="Box-body">
    <table>
      <tr>
        <td class="text-emphasized">ID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td class="text-emphasized">GitHub ID</td>
        <td><%= @user.uid %></td>
      </tr>
      <tr>
        <td class="text-emphasized">GitHub profile</td>
        <td><%= link_to @user.github_user.html_url, @user.github_user.html_url %></td>
      </tr>
      <tr>
        <td class="text-emphasized">Joined on</td>
        <td><%= local_time(@user.created_at) %></td>
      </tr>
      <tr>
        <td class="text-emphasized">Last active</td>
        <td><%= local_time(@user.last_active_at) %></td>
      </tr>
      <tr>
        <td class="text-emphasized">Access token</td>
        <td><%= @user.authorized_access_token? ? 'Authorized' : 'Rejected' %></td>
      </tr>
      <tr>
        <td class="text-emphasized">Scopes</td>
        <td><%= @user.github_client_scopes.join(', ') %></td>
      </tr>
    </table>
  </div>
</div>

<% if @user.organizations.present? %>
  <div class="Box Box--stafftools Box--condensed mt-3">
    <div class="Box-header">
      <h3 class="Box-title">Classrooms</h3>
    </div>

    <ul><%= render partial: 'stafftools/users/organization', collection: @user.organizations %></ul>
  </div>
<% end %>

<% if @user.repo_accesses.present? %>
  <div class="Box Box--stafftools Box--condensed mt-3">
    <div class="Box-header">
      <h3 class="Box-title">Organization memberships</h3>
    </div>

    <ul>
      <% @user.repo_accesses.each do |repo_access| %>
        <%= render partial: 'stafftools/users/organization', locals: { organization: repo_access.organization } %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @user.id != current_user.id %>
  <div class="Box Box--stafftools Box--condensed Box--danger mt-3">
    <div class="Box-header">
      <h3 class="Box-title">Dangerzone</h3>
    </div>

    <div class="Box-row d-flex flex-items-center">
      <div class="flex-auto">
        <strong>Impersonate <%= "@#{@user.github_user.login}" %></strong>
        <div class="text-small text-gray-light">
          This will send you to <strong><%= @user.github_user.login %></strong>'s Classroom dashboard as <strong><%= @user.github_user.login %></strong>.
        </div>
      </div>

      <a data-remodal-target="impersonate-user" class="btn btn-danger">Impersonate <%= "@#{@user.github_user.login}" %></a>

      <%= render partial: 'stafftools/users/impersonate_user_confirmation_modal', locals: { user: @user } %>
    </div>
  </div>
<% end %>
