<div class="site-content">
  <div class="d-flex flex-md-row flex-items-center stafftools-page-header">
    <div class="col-1 d-flexp">
      <span class="assignment-icon assignment-icon-individual left">
        <%= image_tag @user.github_user.github_avatar_url(96), height: 48, width: 48, class: 'avatar left', alt: "@#{@user.github_user.login}" %>
      </span>
    </div>

    <div class="col-10 col-md-10 d-flex flex-column">
      <h2 class="stafftools-heading">
        <%= @user.github_user.login %>
      </h2>

      <p class="assignment-type text-gray">
        <%= content_tag(:span, 'Staff', class: 'staff-badge') if @user.staff? %> User
      </p>
    </div>
  </div>

  <div class="boxed-group">
    <h3>User information</h3>

    <div class="boxed-group-inner">
      <table>
        <tr>
          <td class="text-emphasized">ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td class="text-emphasized">GitHub ID</td>
          <td><%= @user.uid %></td>
        </tr>
        <tr>
          <td class="text-emphasized">GitHub profile</td>
          <td><%= link_to @user.github_user.html_url, @user.github_user.html_url %></td>
        </tr>
        <tr>
         <td class="text-emphasized">Joined on</td>
         <td><%= local_time(@user.created_at) %></td>
        </tr>
        <tr>
         <td class="text-emphasized">Last active</td>
         <td><%= local_time(@user.last_active_at) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Access token</td>
          <td><%= @user.authorized_access_token? ? 'Authorized' : 'Rejected' %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Scopes</td>
          <td><%= @user.github_client_scopes.join(', ') %></td>
        </tr>
      </table>
    </div>
  </div>

  <% if @user.organizations.present? %>
    <div class="boxed-group">
      <h3>Classrooms</h3>

      <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
          <%= render partial: 'stafftools/users/organization', collection: @user.organizations %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @user.repo_accesses.present? %>
    <div class="boxed-group">
      <h3>Organization Memberships</h3>

      <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
          <% @user.repo_accesses.each do |repo_access| %>
            <%= render partial: 'stafftools/users/organization', locals: { organization: repo_access.organization } %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @user.id != current_user.id %>
    <div class="Box Box--condensed Box--dangerzone">
      <div class="Box-header">
        <h3 class="Box-title">Dangerzone</h3>
      </div>
      <ul>
        <div class="Box-row d-flex flex-items-center">
          <div class="flex-auto">
            <strong>Impersonate <%= "@#{@user.github_user.login}" %></strong>
            <div class="text-small text-gray-light">
              This will send you to <strong><%= @user.github_user.login %></strong>'s Classroom dashboard as <strong><%= @user.github_user.login %></strong>.
            </div>
          </div>

          <a data-remodal-target="impersonate-user" class="btn btn-danger">Impersonate</a>
        </div>

        <div class="Box-row d-flex flex-items-center">
          <% if @user.feature_previewer? %>
            <div class="flex-auto">
              <strong>Disable <%= "@#{@user.github_user.login}" %> from previewing features</strong>
              <div class="text-small text-gray-light">
                <strong><%= @user.github_user.login %></strong> will no longer be able to see any feature we have enabled for the features preview group.
              </div>
            </div>

            <%= link_to 'Disable', disable_feature_previewing_stafftools_user_path(@user), class: 'btn btn-danger', method: :delete %>
          <% else %>
            <div class="flex-auto">
              <strong>Enable <%= "@#{@user.github_user.login}" %> to preview features</strong>
              <div class="text-small text-gray-light">
                This will allow <strong><%= @user.github_user.login %></strong> to see any feature we have enabled for the features preview group.
              </div>
            </div>

            <%= link_to 'Enable', enable_feature_previewing_stafftools_user_path(@user), class: 'btn btn-danger', method: :patch %>
          <% end %>
        </div>
      </ul>
    </div>
  <% end %>
</div>
