<%= render partial: 'pages/back_to_classroom_header' %>

<div class="container-lg px-3">
  <h1 class="f0-light text-dark pt-5">
    <b>GitHub</b> Classroom Help
  </h1>
  <div class="markdown-body">
      <nav aria-label="Breadcrumb">
        <ol>
          <% @breadcrumbs.each do |breadcrumb| %>
            <% @last = breadcrumb == @breadcrumbs.last ? ' breadcrumb-item-selected' : '' %>
            <li class="breadcrumb-item<%= @last %>">
              <a href="<%= breadcrumb[0] %>"><%= breadcrumb[1] %></a>
            </li>
          <% end %>
        </ol>
      </nav>
    <%= (markdown @file).html_safe %>
  </div>
</div>