<div class="signin-section">
  <div class="container text-center">
    <ul>
      <li><%= octicon 'book', height: 38 %></li>
      <li><%= octicon 'pencil', height: 38 %></li>
      <li><%= octicon 'mortar-board', height: 38 %></li>
      <li><%= octicon 'organization', height: 38 %></li>
      <li><%= octicon 'calendar', height: 38 %></li>
      <li><%= octicon 'comment-discussion', height: 38 %></li>
    </ul>

    <h1 class="heading">Your course assignments on GitHub</h1>
    <p class="subheading">GitHub Classroom automates repository creation and access control, making it easy to distribute starter code and collect assignments on GitHub.</p>

    <%= link_to 'Sign in with your GitHub account to get started', login_path, class: 'btn btn-big-mobile-friendly btn-blue' %>
  </div>
</div>

<div class="information-section">
  <div class="container">
    <div class="columns">
      <div class="one-third column">
        <h2><%= octicon 'repo', height: 22 %> Create assignments</h2>
        <p>
          Distribute assignments with starter code. Students work on assignments individually or in groups using public or private GitHub repositories.
        </p>
      </div>

      <div class="one-third column">
        <h2><%= octicon 'organization', height: 22 %> Invite students</h2>
        <p>
          Students gain access to assignments using unique invitation URLs, eliminating the need to collect GitHub usernames in advance and manage access manually.
        </p>
      </div>

      <div class="one-third column">
        <h2><%= octicon 'graph', height: 22 %> Review progress</h2>
        <p>
          Teachers and teaching assistants can browse submissions by assignment, making it easy to follow along with student progress.
        </p>
      </div>
    </div>
  </div>
</div>
