<div class="columns">
  <div class="one-half column centered">
    <form>
      <dl class="form">
        <dt><label><%= invitation.title %></label></dt>
        <% invitation_url = request.base_url + invitation_path(invitation.key) %>
        <%= content_tag :input, '', class: 'input-block', type: 'text', value: "#{invitation_url}", readonly: 'readonly' %>
      </dl>
    </form>

    <%= link_to 'Update Your Invitation', invite_organization_path, class: 'btn btn-outline', role: 'button' %>
    <%= link_to 'Delete Your Organization', '#delete-invitation', class: 'btn btn-danger', role: 'button' %>
  </div>
</div>

<%= render partial: 'invitations/remove_invitation_modal', locals: { modal_id: 'delete-invitation' } %>
