<% group_assignment_repo = group_assignment_repo.decorate %>

<div class="flex-table group-assignment-repo-list-item<%= ' disabled' if group_assignment_repo.disabled? %>">
  <div class="flex-table-item">
    <%= link_to group_assignment_repo.github_team_url, class: "team-name #{'disabled' if group_assignment_repo.disabled?}" do %>
      <strong class="css-truncate css-truncate-target"><%= group_assignment_repo.team_name %></strong>
    <% end %>
  </div>
  <div class="flex-table-item text-right">
    <strong class="css-truncate css-truncate-target">
      <%= link_to group_assignment_repo.full_name, group_assignment_repo.github_repo_url, class: "assignment-repo-github-url #{'disabled' if group_assignment_repo.disabled?}" %>
    </strong>
  </div>
</div>

<div class="group-assignment-team-members">

  <% group_assignment_repo.group.repo_accesses.each do |repo_access| %>
      <% student = repo_access.user %>

      <div class="member">
        <%= link_to student.github_user.html_url, class: "team-member-list-avatar #{'disabled' if group_assignment_repo.disabled?}", 'aria-label' => student.github_user.login do %>
            <%= image_tag student.github_user.github_avatar_url(60), class: 'avatar avatar-small ', height: 40, width: 40, alt: "@#{student.github_user.login}" %>
        <% end %>
        <div class="team-member-content">
          <span class="team-member-username">
            <%= link_to student.github_user.login, student.github_user.html_url %>
            <% student_identifier = student.identifier(group_assignment_repo.group_assignment.student_identifier_type) %>
            <% if student_identifier.present? %>
            <span class="labels">
              <span class="label"><%= student_identifier.value %></span>
            </span>
            <% end %>
          </span>
          <p class="team-member-description" itemprop="name">
            <%= student.github_user.name %>
          </p>
        </div>
      </div>
  <% end %>

</div>

