<div class="d-flex flex-md-row flex-items-center classroom-resource-item">
  <div class="col-1 d-flexp">
    <span class="assignment-icon assignment-icon-group left">
      <%= octicon 'organization', height: 22 %>
    </span>
  </div>

  <div class="col-10 col-md-10 d-flex flex-column">
    <%= link_to stafftools_group_assignment_path(group_assignment.id) do %>
      <strong class="search-result-title"><%= group_assignment.title %></strong>
    <% end %>

    <span class="text-gray css-truncate css-truncate-target"><%= t('views.stafftools.group_assignments.created') %> <%= local_time_ago(group_assignment.created_at) %></span>
  </div>
</div>
