<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-group">
        <%= octicon 'organization', height: 22 %>
      </span>
      <%= raw t('views.group_assignment_invitations.accept_invitation_header', group_assignment_title: group_assignment.title) %>
    </h2>
  </div>
</div>

<div class="site-content-body">
  <%= form_tag({ controller: :group_assignment_invitations, action: :accept_assignment}, method: :patch) do %>
    <div class="markdown-body">
      <p><%= t('views.group_assignment_invitations.accept_invitation_info_slice_1', team_name: group.github_team.name) %> <strong><%= "#{group_assignment.slug}-#{group.github_team.slug}" %></strong> <%= t('views.group_assignment_invitations.accept_invitation_info_slice_2') %> <%= link_to "@#{organization.github_organization.login}", organization.github_organization.html_url %> <%= t('views.group_assignment_invitations.accept_invitation_info_slice_3') %></p>
    </div>

    <div class="form-actions">
      <%= submit_tag t('views.group_assignment_invitations.accept_invitation_btn_text'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
