<div class="site-content container-md pt-7 px-3">

  <div class="col-lg-10 mx-auto mb-4">
    <div class="f4 text-mono d-block text-gray-light"><%= organization.title %></div>
    <h2 class="f1 text-normal lh-ultra mb-4">
      Accept the group assignment &mdash;
      <span class='d-block text-green'><%= group_assignment.title %></span>
    </h2>
  </div>

  <div class="col-lg-10 mx-auto mb-4">
    <div class="pb-2 text-gray">
      <%= form_tag({ controller: :group_assignment_invitations, action: :accept_assignment}, method: :patch) do %>
        <p class="f3 lh-default">
          Accepting this assignment will give your team, <span class="text-gray-dark text-bold"><%= group.github_team.name %></span>, access to the <span class="text-mono bg-blue-light f4 rounded-1 p-1 mr-1"><%= "#{group_assignment.slug}-#{group.github_team.slug}" %></span> repository in the <%= link_to "#{organization.github_organization.login}", organization.github_organization.html_url %> organization on GitHub.
        </p>

        <div class="form-actions">
          <%= submit_tag 'Accept this assignment', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

</div>
