<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon('person') %>
      </span>
      Accept the <strong><%= group_assignment.title %></strong> assignment
    </h2>
  </div>
</div>

<div class="site-content-body">
  <%= form_tag({ controller: :group_assignment_invitations, action: :submit_identifier}, method: :patch) do %>
      <%= render partial: 'shared/identifier_form', locals: {student_identifier_type: group_assignment.student_identifier_type} %>
      <%= submit_tag 'Continue', class: 'btn btn-green js-navigation' %>
  <% end %>
</div>