<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-group">
        <%= octicon 'organization', height: 22 %>
      </span>
      <%= raw t('views.group_assignment_invitations.accept_invitation_header', group_assignment_title: group_assignment.title) %>
    </h2>
  </div>
</div>

<div class="site-content-body">
  <div class="markdown-body">
    <p><%= t('views.group_assignment_invitations.accept_invitation_details') %> <%= link_to "@#{organization.github_organization.login}", organization.github_organization.html_url %> <%= t('views.group_assignment_invitations.accept_invitation_info_slice_3') %></p>
    <p><%= t('views.group_assignment_invitations.team_selection_warning') %></p>
  </div>

  <% if @groups.present? %>
    <hr>

    <div class="markdown-body">
      <p><label><%= t('views.group_assignment_invitations.join_existing_team_header') %></label></p>
    </div>
    <div class="team-grid">
      <div class="columns">
        <div class="one-half team-left">
          <% @group_assignment.group_assignment_repos.each do |group_assignment_repo| %>
              <% if cycle('odd', 'even') == 'odd' %>
                <%= render partial: 'group_assignment_team', locals: { group_assignment_repo: group_assignment_repo } %>
              <% end %>
          <% end %>
        </div>
        <% reset_cycle %>
        <div class="one-half team-right">
          <% @group_assignment.group_assignment_repos.each do |group_assignment_repo| %>
              <% if cycle('odd', 'even') == 'even' %>
                <%= render partial: 'group_assignment_team', locals: { group_assignment_repo: group_assignment_repo } %>
              <% end %>
          <% end %>
        </div>
      </div>

      <div style="clear:both"></div>
    </div>
  <% end %>

  <hr>

  <%= form_tag({ controller: :group_assignment_invitations, action: :accept_invitation}, method: :patch) do %>
    <dl class="form">
      <dt><label><%= 'OR' if @groups.present? %> <%= t('views.group_assignment_invitations.create_new_team_header') %></label></dt>
      <dd>
        <%= text_field_tag 'group[title]', nil, placeholder: t('views.group_assignment_invitations.create_new_team_header'), class: 'textfield' %>
        <%= button_tag(type: 'submit', class: 'btn btn-primary js-navigation js-form-submit') do %>
          <%= octicon 'plus' %> <%= t('views.group_assignment_invitations.create_team') %>
        <% end %>
      </dd>
    </dl>
  <% end %>
</div>
