<div class="site-content container-lg pt-7 py-3 px-3 clearfix gutter">

  <div class="col-lg-7 col-sm-8 mx-sm-auto float-lg-left border-red">
    <h2 class="h1 mb-4">You’re ready to go!</h2>
    <p class="f3 py-2 lh-default text-gray">
      You accepted the group assignment, <span class="text-bold text-gray-dark"><%= group_assignment.title %></span>, with the team <span class="text-bold text-gray-dark"><%= group.github_team.name %></span>. Your assignment repository has been created here:
    </p>

    <div class="f5 bg-blue-light rounded-1 text-mono p-1 mt-2 mb-2 d-flex">
      <span class="pl-1 pr-3"><%= octicon "repo" %></span>
      <span class="d-block-inline">
        <%= link_to group_assignment_repo.github_repository.html_url, group_assignment_repo.github_repository.html_url %>
      </span>
    </div>

    <% if @group_assignment.deadline %>
      <% if @group_assignment.deadline.passed? %>
        Deadline passed
      <% else %>

      <div class="f5 rounded-1 lh-default text-gray d-flex">
        <span class="ml-1 pb-1 pr-3"><%= octicon "calendar" %></span>
        <div class="d-block-inline">
          Your assignment is due by <span class="text-bold text-gray-dark"><%= render partial: "shared/due_date_with_local_time", locals: { deadline: @group_assignment.deadline.deadline_at } %></span>
        </div>
      </div>

      <% end %>
    <% end %>
    <p class="col-lg-11 mt-lg-7 mt-sm-4 mb-6 text-gray-light">Note: You may receive an email invitation to join <%= link_to "#{organization.github_organization.login}", organization.github_organization.html_url %> on your behalf. No further action is necessary.</p>
  </div>

  <div class="Box border-gray rounded-2 js-notice col-lg-4 float-lg-right col-sm-8 mx-sm-auto m-3">
    <div class="d-flex py-3">
      <img src='https://ghicons.github.com/assets/images/light/Education.png' alt='GitHub Education icon' height='56' width='56' class='mr-3'/>
      <div>
        <h2 class="h5">Apply for the GitHub Student Developer Pack</h2>
        <p class="text-gray text-normal mt-2">Some content goes here and continues on and on and on.</p>
      </div>
    </div>
  </div>

</div>
