<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-group">
        <%= octicon 'organization', height: 22 %>
      </span>
      <%= raw t('views.group_assignment_invitations.invitation_accepted_header', group_assignment_title: group_assignment.title) %>
    </h2>
  </div>
</div>

<div class="site-content-body">
  <div class="markdown-body">
    <h2><%= t('views.group_assignment_invitations.ready_to_go') %></h2>
    <p><%= t('views.group_assignment_invitations.org_invitation_slice_1') %> <%= link_to "@#{organization.github_organization.login}", organization.github_organization.html_url %> <%= t('views.group_assignment_invitations.org_invitation_slice_2') %></p>
    <p><%= t('views.group_assignment_invitations.created_assignment_location') %> <%= link_to group_assignment_repo.github_repository.html_url, group_assignment_repo.github_repository.html_url %></p>
  </div>
</div>
