<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      Please wait for repository setup to finish. Do not leave this page.
    </h2>
  </div>
</div>

<div class="site-content-body ">
  <div class="d-flex flex-justify-between text-center setupv2">
    <div id="create-repo-progress" class="col-6 border rounded-1 mr-6 p-4">
      <span class='status d-none'>
        <%= octicon("check", class: 'text-green complete-indicator', height: 30) %>
        <%= octicon("x", class: 'text-red failure-indicator', height: 30) %>
        <%= image_tag 'octocat-spinner-64.gif', width: 30, height: 30, class: 'spinner' %>
      </span>
      <p class="v-align-baseline f4 mt-4">1. Creating repository</p>
    </div>
    <div id="import-repo-progress" class="col-6 border rounded-1 p-4">
      <span class='status d-none'>
        <%= octicon("check", class: 'text-green complete-indicator', height: 30) %>
        <%= octicon("x", class: 'text-red failure-indicator', height: 30) %>
        <%= image_tag 'octocat-spinner-64.gif', width: 30, height: 30, class: 'spinner' %>
      </span>
      <p class="v-align-baseline f4 mt-4">2. Importing starter code</p>
    </div>
  </div>
  <center>
    <a id="retry-button" class="d-none align-self-center btn mt-4">Retry repository setup</a>
  </center>
</div>
