<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon('person') %>
      </span>
      Accept the <strong><%= assignment.title %></strong> assignment
    </h2>
  </div>
</div>

<div class="site-content-body">
  <% if github_repository.present? %>
    <div class="markdown-body">
      <p>
        The <strong><%= link_to "#{github_repository.name}", github_repository.html_url %></strong> repository already exists in the <%= link_to "@#{decorated_organization.login}", decorated_organization.github_url %> organization on GitHub.
      </p>
      <p>
        To accept this assignment, you can either add yourself as a collaborator to the repository or create a new repository by appending a suffix to the existing repository name.
      </p>
    </div>

    <hr/>

    <p>Add yourself as a collaborator to the repository <strong><%= link_to "#{github_repository.name}", github_repository.html_url %></strong></p>
    <%= form_tag({ controller: :assignment_invitations, action: :accept_invitation}, method: :patch) do %>
        <%= submit_tag 'Join as a collaborator', class: 'btn btn-green js-navigation' %>
    <% end %>

    <hr/>

    <p>Or create a new repository named <strong><%= github_repository.name %>-<spam id="suffix"></spam></strong></p>
    <div class="one-third">
      <%= form_tag({ controller: :assignment_invitations, action: :accept_invitation}, method: :patch) do %>
        <div class="input-group input-block">
          <%= text_field_tag 'repo_name_suffix', 'new', placeholder: 'Name suffix', class: 'textfield' %>
          <span class="input-group-button">
            <%= button_tag(type: 'submit', class: 'btn btn-green js-navigation js-form-submit') do %>
              <%= octicon('plus') %> Create a new repository
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= form_tag({ controller: :assignment_invitations, action: :accept_invitation}, method: :patch) do %>
    <div class="markdown-body">
      <p>
        Accepting this assignment will give you access to the <strong><%= "#{assignment.slug}-#{decorated_current_user.login}" %></strong>
        repository in the <%= link_to "@#{decorated_organization.login}", decorated_organization.github_url %> organization on GitHub.
      </p>
    </div>
    <div class="form-actions">
      <%= submit_tag 'Accept this assignment', class: 'btn btn-green js-navigation' %>
    </div>
    <% end %>
  <% end %>
</div>
