<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon 'person', height: 22 %>
      </span>
      <%= raw t('views.assignment_invitations.accept_invitation_header', assignment_title: current_assignment.title) %>
    </h2>
  </div>
</div>

<div class="site-content-body">
  <%= form_tag({ controller: :assignment_invitations, action: :accept }, method: :patch) do %>
    <div class="markdown-body">
      <p>
        <%= t('views.assignment_invitations.accept_invitation_info_slice_1') %> <strong><%= "#{current_assignment.slug}-#{current_user.github_user.login}" %></strong>
        <%= t('views.assignment_invitations.accept_invitation_info_slice_2') %> <%= link_to "@#{organization.github_organization.login}", organization.github_organization.html_url %> <%= t('views.assignment_invitations.accept_invitation_info_slice_3') %>
      </p>
    </div>

    <div class="form-actions">
      <%= submit_tag t('views.assignment_invitations.accept_invitation_btn_text'), class: 'btn btn-primary js-navigation' %>
    </div>
  <% end %>
</div>
