<div class="container-md pt-3">

  <div class="site-content">
    <div class="site-content-cap d-flex flex-items-center">
      <div class="assignment-icon assignment-icon-individual">
        <%= octicon 'person', height: 22 %>
      </div>
      <h2 class="text-normal lh-ultra">
        Accept the assignment <span class='text-bold no-wrap'><%= current_assignment.title %></span>
      </h2>
    </div>
  </div>

  <div class="site-content-body">
    <%= form_tag({ controller: :assignment_invitations, action: :accept }, method: :patch) do %>
    <div class="pb-2 text-gray">
        <p class="f4 lh-default">
          Once you accept this <%= organization.title %> assignment, you will be granted access to the <strong><%= "#{current_assignment.slug}-#{current_user.github_user.login(use_cache: false)}" %></strong>
          repository in the <%= link_to "#{organization.github_organization.login}", organization.github_organization.html_url %> organization on GitHub.
        </p>
      </div>

      <div class="form-actions">
        <% loader = ' js-navigation' %>
        <%= submit_tag 'Accept this assignment', class: 'btn btn-primary' + loader %>
      </div>
    <% end %>
  </div>

</div>
