<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon('person') %>
      </span>
      Accept the "<%= @assignment.title %>" assignment
    </h2>
  </div>
</div>

<div class="site-content-body">
  <%= render 'shared/flash_messages' %>

  <%= form_tag({ controller: :assignment_invitations, action: :accept_invitation}, method: :patch) do %>

    <div class="markdown-body">
      <p>If this is your first assignment, this will add you to the <%= link_to organization.login, organization.github_url %> organization on <%= link_to 'github.com', 'https://github.com' %>.</p>
      <p>This will also create a <%= link_to 'GitHub repository', 'https://help.github.com/articles/github-glossary/#repository' %> that you will have access to while you work on your assignment.</p>
    </div>

    <div class="form-actions">
      <%= submit_tag 'Accept assignment', class: 'btn btn-green js-button' %>
    </div>
  <% end %>
</div>
