<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon('person') %>
      </span>
      Accepted the <strong><%= assignment.title %></strong> assignment
    </h2>
  </div>
</div>

<div class="site-content-body">
  <div class="markdown-body">
    <h2>You are ready to go!</h2>
    <p>You may receive an invitation to join <%= link_to "@#{decorated_organization.login}", decorated_organization.github_url %> via email invitation on your behalf. No further action is necessary.</p>
    <p>Your assignment has been created here: <%= link_to decorated_assignment_repo.github_url, decorated_assignment_repo.github_url %></p>
  </div>
</div>
