<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon 'person', height: 22 %>
      </span>
      <%= raw t('views.assignment_invitations.invitation_accepted_header', assignment_title: current_assignment.title) %>
    </h2>
  </div>
</div>

<div class="site-content-body">
  <div class="markdown-body">
    <h2><%= t('views.assignment_invitations.ready_to_go') %></h2>
    <p><%= t('views.assignment_invitations.org_invitation_slice_1') %> <%= link_to "@#{organization.github_organization.login}", organization.github_organization.html_url %> <%= t('views.assignment_invitations.org_invitation_slice_2') %></p>
    <p><%= t('views.assignment_invitations.created_assignment_location') %> <%= link_to current_submission.github_repository.html_url, current_submission.github_repository.html_url %></p>
  </div>
</div>
