<% view = AssignmentRepoView::ShowView.new(assignment_repo: assignment_repo) %>


<div class='d-flex flex-row flex-justify-between flex-items-center assignment-repo-list-item'>
  <div class='d-flex'>
    <div>
      <%= link_to unlinked_user.github_user.html_url, class: "tooltipped tooltipped-n", target: '_blank', 'aria-label' => unlinked_user.github_user.login do %>
        <%= image_tag unlinked_user.github_user.github_avatar_url(96), height: 48, width: 48, class: 'avatar avatar-large', alt: "@#{unlinked_user.github_user.login}" %>
      <% end %>
    </div>
    <div class='d-flex flex-column flex-justify-around'>
      <div>
        <%= link_to unlinked_user.github_user.html_url, class: "assignment-repo-github-url", target: '_blank' do %>
          <h3 class="css-truncate css-truncate-target"><%= unlinked_user.github_user.login %></h3>
        <% end %>
      </div>
      <div class="assignment-properties">
        <%= render 'shared/commit_repo_detail', text: view.commit_text, url: view.github_commits_url %>
        <% if view.submission_passed? %>
          <% if view.submission_succeeded? %>
            <%= render 'shared/submission_succeeded_repo_detail', url: view.submission_url %>
          <% else %>
            <%= render 'shared/submission_failed_repo_detail' %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <div>
    <%= link_to 'View repository', view.github_repo_url, class: 'btn btn-outline', role: 'button', target: '_blank', disabled: view.disabled_class %>
  </div>
</div>
