<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading"><%= t('views.organizations.invite_other_admins') %></h2>
  </div>

  <div class="site-content-body markdown-body">
    <h3><%= t('views.organizations.add_other_admin_step_1_header') %></h3>
    <p><strong><%= t('views.organizations.add_other_admin_step_1_details') %></strong></p>
    <p><%= t('views.organizations.you_can_do_so') %> <%= link_to @organization.github_organization.team_invitations_url, @organization.github_organization.team_invitations_url %></p>

    <h3><%= t('views.organizations.add_other_admin_step_2_header') %></h3>
    <p><%= t('views.organizations.add_other_admin_step_2_details') %></p>
    <%= link_to organization_url(@organization), organization_url(@organization), class: 'mobile-invitation-content' %>

    <div class="columns desktop-invitation-content">
      <div class="two-thirds">
        <div class="input-group">
          <%= content_tag :input, '', type: 'text', class: "form-control input-contrast", id: "organization-#{@organization.github_id}", value: organization_url(@organization), readonly: 'readonly' %>
          <span class="input-group-button">
            <button aria-label="Copy to clipboard" data-clipboard-target=<%= "#organization-#{@organization.github_id}" %> class="js-clipboard btn tooltipped tooltipped-s" data-copied-hint="Copied!" type="button">
              <%= octicon 'clippy' %>
              <%= t('views.organizations.copy_classroom_link') %>
            </button>
          </span>
        </div>
      </div>
    </div>

    <% if action_name == 'invite' %>
      <div class="form-actions">
        <%= link_to 'Continue', organization_path(@organization), class: 'btn btn-primary right' %>
      </div>
    <% end %>
  </div>
</div>
