<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading"><%= t('views.organizations.invite_administrator') %></h2>
  </div>

  <div class="site-content-body markdown-body">
    <h3><%= t('views.organizations.add_to_organization') %></h3>
    <p><strong><%= t('views.organizations.must_add_as_owner') %></strong></p>
    <p><%= t('views.organizations.link_to_add_owner', href: link_to(current_organization.github_organization.team_invitations_url, current_organization.github_organization.team_invitations_url)).html_safe %></p>

    <h3><%= t('views.organizations.give_this_link') %></h3>
    <p><%= t('views.organizations.give_this_link_desc') %></p>
    <%= link_to organization_url(current_organization), organization_url(current_organization), class: 'mobile-invitation-content' %>

    <div class="columns desktop-invitation-content">
      <div class="two-thirds">
        <div class="input-group">
          <%= content_tag :input, '', type: 'text', class: "form-control input-contrast", id: "organization-#{current_organization.github_id}", value: organization_url(current_organization), readonly: 'readonly' %>
          <span class="input-group-button">
            <button aria-label="<%= t('views.organizations.copy_to_clipboard') %>" data-clipboard-target=<%= "#organization-#{current_organization.github_id}" %> class="js-clipboard btn tooltipped tooltipped-s" data-copied-hint="<%= t('views.organizations.copied') %>" type="button">
              <%= octicon 'clippy' %>
              <%= t('views.organizations.copy_classroom_link') %>
            </button>
          </span>
        </div>
      </div>
    </div>

    <% if action_name == 'invite' %>
      <div class="form-actions">
        <% path = student_identifier_enabled? ? new_roster_path(current_organization) : organization_path(current_organization) %>
        <%= link_to t('views.organizations.continue'), path, class: 'btn btn-primary right' %>
      </div>
    <% end %>
  </div>
</div>
