<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">Invite other administrators</h2>
  </div>

  <div class="site-content-body markdown-body">
    <h3>1. Add them to your GitHub Organization</h3>
    <p><strong>You must add them to the Owners team in order for them to have access.</strong></p>
    <p>You can do so at <%= link_to organization.github_team_invitations_url, organization.github_team_invitations_url %></p>

    <h3>2. Give them this URL</h3>
    <p>After signing in, they will automatically be added to this classroom.</p>
    <%= link_to organization_url(@organization), organization_url(@organization), class: 'mobile-invitation-content' %>

    <div class="columns desktop-invitation-content">
      <div class="two-thirds column">
        <div class="input-group">
          <%= content_tag :input, '', type: 'text', id: @organization.slug, class: 'js-url-field', value: organization_url(@organization), readonly: 'readonly' %>
          <span class="input-group-button">
            <button aria-label="Copy to clipboard" id=<%= @organization.slug %> class="js-zeroclipboard btn tooltipped tooltipped-s" data-copied-hint="Copied!" type="button">
              <%= octicon('clippy') %>
              Copy classroom link
            </button>
          </span>
        </div>
      </div>
    </div>

    <% if action_name == 'invite' %>
      <div class="form-actions">
        <%= link_to 'Continue', organization_path(@organization), class: 'btn btn-green right' %>
      </div>
    <% end %>
  </div>
</div>
