<div class="remodal text-left" data-remodal-id="organization-visibility-private">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header"><%= t('views.organizations.are_you_sure') %></h2>

  <div class="remodal-description" style="height:auto">
    <p>
      <%= t('views.organizations.visibility_consequences_html', organization: sanitize(current_organization.github_organization.login)) %>
    </p>
  </div>

  <%= form_for current_organization do |f| %>
    <%= f.hidden_field :repo_visibility, value: "private" %>
    <%= f.submit t('views.organizations.visibility_private'), class: "btn btn-danger btn-block js-submit" %>
  <% end %>
</div>
