<% organization = @organization || current_organization %>

<% content_for :organization_banner do %>
  <div class="organization-banner" style="background-image: <%= organization.geo_pattern_data_uri %>">
    <div class="container-lg p-responsive">
      <div class="pt-3 pt-md-4">
        <div class="d-md-flex flex-justify-between">
          <div class="flex-auto">
            <h1><%= link_to organization.title, organization, class: "text-white no-underline" %></h1>
            <p class="f5 mb-md-0"><%= link_to "#{organization.github_organization.login}", organization.github_organization.html_url, class: "text-white no-underline" %></p>
          </div>

          <ul class="list-style-none d-flex flex-items-center">
            <li class="text-white tooltipped tooltipped-s mr-3" aria-label="<%= t('views.organizations.individual_assignments') %>"><%= octicon 'person', :class => "mr-1" %><%= organization.assignments.count %></li>
            <li class="text-white tooltipped tooltipped-s" aria-label="<%= t('views.organizations.group_assignments') %>"><%= octicon 'organization', :class => "mr-1" %><%= organization.group_assignments.count %></li>
          </ul>
        </div>
        <div class="mt-3">
          <%= render 'organizations/navigation', organization: organization, settings_view: local_assigns[:settings] %>
        </div>
      </div>
    </div>
  </div>
<% end %>