<div class="boxed-group">
  <h3><%= t('views.organizations.administrators') %></h3>

  <div class="boxed-group-inner">
    <ul class="boxed-group-list standalone">
      <% @current_organization.users.each do |user| %>
        <li class="stafftools-button-li clearfix">
          <%= render partial: 'organizations/organization_user', locals: { user: user } %>
          <a data-remodal-target="remove-user-<%= user.id %>" class="btn btn-danger stafftools-small-button<%= ' disabled' if @current_organization.users.count < 2 %>">Remove</a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% @current_organization.users.each do |user| %>
  <%= render partial: 'organizations/remove_user_modal', locals: { user: user } %>
<% end %>
