<div class="remodal text-left" data-remodal-id="reset-and-remove-organization">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header"><%= t('views.organizations.remove_org_header') %></h2>

  <div class="remodal-warning">
    <%= t('views.organizations.remove_org_warning') %>
  </div>

  <div class="remodal-description">
    <p>
      <%= raw t('views.organizations.remove_org_details', org_login: @organization.github_organization.login) %>
    </p>
  </div>

  <%= form_for @organization, html: { "data-name" => @organization.github_organization.login, method: 'delete' } do |f| %>
    <dl class="form js-normalize-submit">
      <dt><%= t('views.organizations.confirm_org_name') %></dt>
      <dd><input type="text" class="js-input-block form-control input-contrast input-block" autofocus></dd>
    </dl>

    <%= f.submit t('views.organizations.reset_and_remove_org'), class: 'btn btn-danger btn-block js-submit', disabled: true %>
  <% end %>
</div>
