<div class="remodal text-left" data-remodal-id="reset-and-remove-organization">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header"><%= t('views.organizations.are_you_sure') %></h2>

  <div class="remodal-warning">
    <%= t('views.organizations.delete_warning') %>
  </div>

  <div class="remodal-description">
    <p>
      <%= t('views.organizations.delete_consequences_html', organization: sanitize(current_organization.github_organization.login)) %>
    </p>
  </div>

  <%= form_for current_organization, html: { "data-name" => current_organization.github_organization.login, method: 'delete' } do |f| %>
    <dl class="form js-normalize-submit">
      <dt><%= t('views.organizations.delete_confirm') %></dt>
      <dd><input type="text" class="js-input-block form-control input-contrast input-block" autofocus></dd>
    </dl>

    <%= f.submit t('views.organizations.delete_submit'), class: 'btn btn-danger btn-block js-submit', disabled: true %>
  <% end %>
</div>
