<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">

      <div class="boxed-group">
        <h3>Profile information</h3>
        <div class="boxed-group-inner clearfix">
          <%= form_for @organization do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <dl class="form">
              <dt><%= f.label :title %></dt>
              <dd><%= f.text_field :title, class: 'textfield form-control input-contrast input-block' %></dd>
            </dl>
            <div class="form-actions">
              <%= f.submit 'Save changes', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="boxed-group dangerzone">
        <h3>Reset and remove this classroom</h3>
        <div class="boxed-group-inner pt-2 clearfix">
          <p>Once you reset this classroom, there is no going back. Please be certain.</p>
          <p>
            <a data-remodal-target="reset-and-remove-organization" class="btn btn-danger">Reset and remove this classroom</a>
          </p>
        </div>
      </div>

    </div>
  </div>


  <%= render partial: 'organizations/reset_and_remove_organization_modal' %>
</div>
