<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">

      <div class="boxed-group">
        <h3><%= t('views.organizations.profile_information') %></h3>
        <div class="boxed-group-inner clearfix">
          <%= form_for current_organization do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <dl class="form">
              <dt><%= f.label :title %></dt>
              <dd><%= f.text_field :title, class: 'textfield form-control input-contrast input-block' %></dd>
            </dl>
            <div class="form-actions">
              <%= f.submit t('views.organizations.save_changes'), class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="boxed-group dangerzone">
        <h3><%= t('views.organizations.danger_zone') %></h3>
        <div class="boxed-group-inner">
          <ul>
            <li class="Box-row">
              <p><%= t('views.organizations.theres_no_going_back') %></p>
              <p>
                <a data-remodal-target="reset-and-remove-organization" class="btn btn-danger"><%= t('views.organizations.delete_submit') %></a>
              </p>
            </li>
            <li class="Box-row">
              <p><%= t('views.organizations.archive_description') %></p>
              <% if current_organization.archived_at %>
                <%= form_for current_organization do |f| %>
                  <%= f.hidden_field :archived, value: false %>
                  <%= f.submit t('views.organizations.unarchive_submit'), class: "btn btn-danger" %>
                <% end %>
              <% else %>
                <%= form_for current_organization do |f| %>
                  <%= f.hidden_field :archived, value: true %>
                  <%= f.submit t('views.organizations.archive_submit'), class: "btn btn-danger" %>
                <% end %>
              <% end %>
            </li>
          </ul>
      </div>

    </div>
  </div>


  <%= render partial: 'organizations/reset_and_remove_organization_modal' %>
</div>
