<div class="remodal-bg pb-6">
  <%= render 'organizations/organization_banner', settings: true %>

  <div class="container-lg p-responsive">
    <div class="d-md-flex flex-items-center flex-justify-between mt-5 mb-3">
      <div class="d-md-flex gutter-md">
        <h3 class="col-md-3 f5 text-mono text-normal text-gray p-5">
          Classroom details
        </h3>

        <div class="col-md-9 bg-gray-light rounded-1 p-5">
          <div class="mx-md-3">

            <h4 class="h5 pb-1">Classroom name</h4>
            <%= form_for current_organization do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <dl class="form">
                <dd class="d-lg-flex">
                  <%= f.text_field :title, class: 'textfield form-control input-sm col-12 col-lg-10 mb-2 mb-lg-0' %>
                  <%= f.submit t('views.organizations.save_changes'), class: 'btn btn-sm' %>
                </dd>
              </dl>
            <% end %>

            <h4 class="h5 pb-1">Organization account</h4>

            <div class="d-lg-flex">
              <p class="pr-lg-4 pb-2 text-gray-light">
                GitHub Classroom uses the organization, <%= link_to @org_login, "#{GitHubClassroom.github_url}/orgs/#{@org_login}" %>, to manage permissions, administration, and security for your classroom. Organization accounts are managed on github.com, not classroom.github.com.
              </p>
              <div>
                <%= link_to "Organization settings", "#{GitHubClassroom.github_url}/organizations/#{@org_login}/settings/profile", class: "btn btn-sm" %>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="d-md-flex flex-items-center flex-justify-between mt-5 mb-3">
      <div class="d-md-flex gutter-md">
        <h3 class="col-md-3 f5 text-mono text-gray text-normal p-5">
          Classroom settings
        </h3>

        <div class="col-md-9 bg-gray-light rounded-1 p-5">
          <div class="mx-md-3">

            <div class="mb-3">
              <h4 class="h5 pb-1">Connect to a learning management system (LMS)</h4>
              <div class="d-lg-flex">
                <% if current_organization.lti_configuration %>
                  <% lms_name = current_organization.lti_configuration.lms_name(default_name: "a learning management system") %>
                  <p class="text-gray-light">
                    You are currently connected to <%= lms_name %>.
                  </p>
                  <%= link_to "Connection Settings", lti_configuration_path(current_organization) %>
                <% elsif current_organization.google_course_id %>
                  <p class="text-gray-light">
                    You are currently connected to Google Classroom.
                  </p>
                <% else %>
                  <div class="pr-lg-4 pb-2">
                    <p class="text-gray">Integrate GitHub Classroom with your institution's learning management system to sync your student roster. <%= link_to "Learn more", help_path(article_name: "connect-to-lms") %></p>
                  </div>
                  <div>
                    <%= link_to "Connect to LMS",
                      link_lms_organization_path(current_organization),
                      class: "btn btn-secondary btn-sm"
                    %>
                  </div>
                <% end %>
              </div>

              <% if current_organization.google_course_id %>
                <h4 class="h5 pb-1">Unlink Google Classroom</h4>
                <div class="d-lg-flex">
                  <div class="pr-lg-4">
                    <p class="text-gray-light">
                      Unlinking Google Classroom will not remove any students and assignments from GitHub Classroom.
                    </p>
                  </div>
                  <div class="details-reset details-overlay">
                    <%= button_to "Unlink Google Classroom", google_classrooms_delete_organization_path, method: :delete, class: "btn btn-danger btn-sm"%>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="pt-sm-4 pt-lg-0">
              <% if current_organization.archived_at %>
                <h4 class="h5 pb-1">
                  <%= t('views.organizations.unarchive_title') %>
                </h4>
                <div class="d-lg-flex">
                  <div>
                    <p class"text-gray-light"><%= t('views.organizations.unarchive_description') %></p>
                  </div>
                  <div class="details-reset details-overlay">
                    <%= form_for current_organization do |f| %>
                      <%= f.hidden_field :archived, value: false %>
                      <%= f.submit t('views.organizations.unarchive_submit'), class: "btn btn-danger btn-sm" %>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <h4 class="h5 pb-1">
                  <%= t('views.organizations.archive_title') %>
                </h4>
                <div class="d-lg-flex">
                  <div class="pr-lg-4 pb-2">
                    <p class="text-gray-light"><%= t("views.organizations.archive_description_html") %></p>
                  </div>
                  <div class="details-reset details-overlay">
                    <a data-remodal-target="archive" class="btn btn-sm"><%= t('views.organizations.archive_submit') %></a>
                  </div>
                </div>
              <% end %>
            </div>

          </div>

          </div>
      </div>
    </div>

    <div class="d-md-flex flex-items-center flex-justify-between mt-5 mb-3">
      <div class="d-md-flex gutter-md">
        <h3 class="col-md-3 f5 text-mono text-gray text-normal p-5">
          Delete classroom
        </h3>

        <div class="Box Box--danger col-md-9 bg-gray-light rounded-1 px-5 pt-4 pb-3">
          <div class="mx-md-3">

            <h4 class="h5 pb-1 text-red"><%= t('views.organizations.delete_title') %></h4>

            <div class="d-lg-flex">

              <div class="pr-lg-4 pb-sm-2">
                <p class="text-gray-light pb-2"><%= t('views.organizations.theres_no_going_back_html') %></p>
              </div>

              <div class="details-reset details-overlay">
                <a data-remodal-target="reset-and-remove-organization" class="btn btn-danger btn-sm"><%= t('views.organizations.delete_submit') %>
               </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <%= render partial: 'organizations/reset_and_remove_organization_modal' %>
  <%= render partial: 'organizations/archive_modal' %>
</div>
