<div class="remodal-bg">
  <%= render 'organizations/organization_banner', settings: true %>

  <div class="d-md-flex gutter-md">
    <div class="col-md-3">
      <div class="my-3">
        <%= render partial: 'organizations/side_menu' %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="Subhead mt-3">
        <h1 class="Subhead-heading"><%= t('views.organizations.profile_information') %></h1>
      </div>
      <%= form_for current_organization do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <dl class="form">
          <dt class="mb-2"><%= f.label :title %></dt>
          <dd><%= f.text_field :title, class: 'textfield form-control col-12 col-md-6' %></dd>
        </dl>
        <%= f.submit t('views.organizations.save_changes'), class: 'btn btn-primary' %>
      <% end %>

      <div class="Box Box--condensed mt-5">
        <div class="Box-header bg-red">
          <h2 class="Box-title text-white"><%= t('views.organizations.delete_submit') %></h2>
        </div>
        <div class="Box-body">
          <p><%= t('views.organizations.theres_no_going_back') %></p>
          <p>
            <a data-remodal-target="reset-and-remove-organization" class="btn btn-danger"><%= t('views.organizations.delete_submit') %></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'organizations/reset_and_remove_organization_modal' %>
</div>