<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="site-content">
    <div class="site-content-cap">
      <h2 class="site-content-heading">Classroom settings</h2>
    </div>
  </div>

  <div class="site-content-body">
    <%= form_for @organization do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="columns">
        <div class="two-thirds column">
          <dl class="form">
            <dt><%= f.label :title %></dt>
            <dd><%= f.text_field :title, class: 'textfield' %></dd>
          </dl>
        </div>

        <div class="one-third column dangerzone-container">
          <p class="text-emphasized">Reset and remove this classroom</p>
          <p class="text-muted">Once you reset this classroom, there is no going back. Please be certain.</p>

          <a data-remodal-target="reset-and-remove-organization" class="btn btn-danger btn-block">Reset and remove this classroom</a>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Save changes', class: 'btn btn-green' %>
        <%= link_to 'Cancel', @organization, class: 'btn', role: 'button' %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'organizations/invite_users' %>
  <%= render partial: 'organizations/reset_and_remove_organization_modal' %>
</div>
