<div class="remodal-bg">
  <%= render 'organizations/organization_banner', settings: true %>

  <div class="d-md-flex gutter-md">
    <div class="col-md-3">
      <div class="my-3">
        <%= render partial: 'organizations/side_menu' %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="Subhead mt-3">
        <h1 class="Subhead-heading"><%= t('views.organizations.profile_information') %></h1>
      </div>
      <%= form_for current_organization do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <dl class="form">
          <dt class="mb-2"><%= f.label :title %></dt>
          <dd><%= f.text_field :title, class: 'textfield form-control col-12 col-md-6' %></dd>
        </dl>
        <%= f.submit t('views.organizations.save_changes'), class: 'btn btn-primary' %>
      <% end %>

      <div class="Box Box--condensed mt-5">
        <div class="Box-header">
          <h2 class="Box-title"><%= "Learning Management System" %></h2>
        </div>

        <div class="Box-body">
          <% if lti_launch_enabled? && current_organization.lti_configuration %>
            <% lms_name = current_organization.lti_configuration.lms_name(default_name: "a Learning Management System") %>
            You are currently connected to <%= lms_name %>.
            <%= link_to "Connection Settings", lti_configuration_path(current_organization) %>
          <% elsif google_classroom_roster_import_enabled? && current_organization.google_course_id %>
            You are currently connected to Google Classroom.
          <% else %>
            <p>You are currently not connected to a Learning Management System. Connect to this Classroom via</p>
            <%= link_to "Google Classroom",
              select_google_classroom_roster_path,
              class: "btn btn-sm btn-secondary d-inline-flex flex-items-center mb-2 mr-1"
            %>
            <% LtiConfiguration.lms_types.each_pair do |lms_type, lms_name| %>
            <% lms_name = "Another LMS" if lms_type == "other" %>
            <%= link_to lms_name, info_lti_configuration_path(current_organization, lms_type: lms_type),
              class: "btn btn-sm btn-secondary d-inline-flex flex-items-center mb-2 mr-1"
            %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="Box Box--condensed mt-5">
        <div class="Box-header bg-red">
          <h2 class="Box-title text-white"><%= t('views.organizations.danger_zone') %></h2>
        </div>

        <div class="Box-body">
          <ul>
            <% if archive_classrooms_enabled? %>
              <li class="Box-row">
                <% if current_organization.archived_at %>
                  <div class="details-reset details-overlay">
                    <%= form_for current_organization do |f| %>
                      <%= f.hidden_field :archived, value: false %>
                      <%= f.submit t('views.organizations.unarchive_submit'), class: "btn btn-danger boxed-action" %>
                    <% end %>
                  </div>
                  <strong class="text-gray"><%= t('views.organizations.unarchive_title') %></strong>
                  <p class="text-gray"><%= t('views.organizations.unarchive_description') %></p>
                <% else %>
                  <div class="details-reset details-overlay">
                    <%= form_for current_organization do |f| %>
                      <%= f.hidden_field :archived, value: true %>
                      <%= f.submit t('views.organizations.archive_submit'), class: "btn btn-danger boxed-action" %>
                    <% end %>
                  </div>
                  <strong class="text-gray"><%= t('views.organizations.archive_title') %></strong>
                  <p class="text-gray"><%= t('views.organizations.archive_description') %></p>
                <% end %>
              </li>
            <% end %>

            <li class="Box-row">
              <div class="details-reset details-overlay">
                <a data-remodal-target="reset-and-remove-organization" class="btn btn-danger boxed-action"><%= t('views.organizations.delete_submit') %>
                </a>
              </div>
              <strong class="text-gray"><%= t('views.organizations.delete_title') %></strong>
              <p class="text-gray"><%= t('views.organizations.theres_no_going_back') %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'organizations/reset_and_remove_organization_modal' %>
</div>
