<div class="d-sm-flex flex-items-center flex-justify-between my-4">
  <% if @organizations.present? %>
    <%= form_tag search_organizations_path, id: 'js-search-form', class: 'form-block col-md-4', method: :get, remote: true do %>
      <%= text_field_tag :query, params[:query], class: 'form-control width-full', placeholder: 'Search Classrooms...', autofocus: true, autocomplete: :off %>
    <% end %>

    <%= link_to new_organization_path, class: 'd-none d-sm-inline-block btn btn-primary', role: 'button' do %>
      <%= t('views.organizations.new_classroom') %>
    <% end %>
  <% end %>
</div>

<% if @organizations.present? %>
    <div class="my-4" id="js-search-results">
      <%= render partial: 'organization_card_layout', locals: {organizations: @organizations} %>
    </div>
<% else %>
    <div class="blankslate large-format spacious clean-background">
      <h3><%= t('views.organizations.no_classrooms') %></h3>
      <p><%= t('views.organizations.no_classrooms_desc') %></p>

      <%= link_to new_organization_path, class: 'btn btn-primary btn-big', role: 'button' do %>
        <%= t('views.organizations.create_first_classroom') %>
      <% end %>
    </div>
<% end %>
