<%= render 'organizations/organization_banner', settings: true %>

  <div class="container-lg p-responsive">
    <div class="d-md-flex gutter-md">
      <div class="col-md-3">
        <div class="my-3">
          <%= render partial: 'organizations/side_menu' %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="Subhead mt-3">
          <h1 class="Subhead-heading"><%= t('views.organizations.administrators') %></h1>
        </div>

        <%= render partial: 'organizations/organization_users' %>
        <%= render partial: 'organizations/invite_users' %>
      </div>
    </div>
  </div>
</div>
