<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">Invite users</h2>
  </div>

  <div class="site-content-body">
    <%= form_tag invite_users_organization_path(@organization), method: :patch do %>
      <table class="table-minimal">
        <% @organization_owners.each do |owner| %>
          <tr>
            <td class="js-user-invitation-form">
              <label>
                <%= check_box_tag "github_owners[#{owner.login}]", owner.id %>
                <%= owner.login %> <%= "(#{owner.name})" if owner.name %>
              </label>
            </td>
            <td>
              <% disabled    = owner.email.present? %>
              <% input_class = disabled ? 'input-contrast input-mini' : 'input-mini' %>
              <%= email_field_tag "github_owner_emails[#{owner.login}]", owner.email, class: input_class, placeholder: 'Email Address', disabled: disabled %>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="form-actions">
        <%= submit_tag 'Invite', class: 'btn btn-green', disabled: true %>
        or
        <%= link_to 'skip for now', organization_path(@organization) %>
      </div>
    <% end %>
  </div>
</div>
