<div class="remodal-bg">
  <%= render 'organizations/organization_banner', settings: true %>

  <div class="site-content">
    <div class="site-content-cap">
      <h2 class="site-content-heading">Connect to a Learning Management System</h2>
    </div>


    <div class="site-content-body markdown-body">
      <p>Connecting GitHub Classroom to your institution's Learning Management System (LMS) will allow you to automatically import your course roster. You can always skip this step and come back later.</p>
      <div class="d-flex flex-wrap gutter">
        <div class="col-6 col-md-4 col-lg-4">
          <% if google_classroom_roster_import_enabled? %>
            <%= button_to google_classrooms_index_organization_path(current_organization), method: :get, class: 'd-block width-full text-center hover-grow border rounded-2 box-shadow-medium bg-white p-3 mb-4' do %>
              <%= image_tag "google-classroom-logo.png", class: 'avatar d-block mx-auto mb-2', height: 25 %>
              <span class="css-truncate-target" title="Google Classroom">Google Classroom</span>
            <% end %>
          <% end %>
        </div>
        <% if lti_launch_enabled? %>
          <% LtiConfiguration.lms_types.each_pair do |lms_type, lms_name| %>
            <% lms_name = "Other LMS" if lms_type == "other" %>
            <div class="col-6 col-md-4 col-lg-4">
              <%= button_to info_lti_configuration_path(current_organization), method: :get, params: { lms_type: lms_type }, class: 'd-block width-full text-center hover-grow border rounded-2 box-shadow-medium bg-white p-3 mb-4' do %>
                <%= image_tag "#{lms_type}-logo.png", class: 'avatar d-block mx-auto mb-2', height: 25 %>
                <span class="css-truncate css-truncate-target" title=<%= lms_name %>><%= lms_name %></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="form-actions">
        <%= link_to "Skip", new_roster_path(current_organization), class: 'right', method: :get %>
      </div>
    </div>
  </div>
</div>
