<% organization = @organization || current_organization %>

<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">
      <div class="site-content">
        <div class="site-content-cap">
          <h2 class="site-content-heading">LMS Configuration</h2>
        </div>

        <div class="site-content-body markdown-body">
          <p>This information is available within your LMS.</p>
          <div class="form-actions">
            <div>
              <p>Client ID</p>
              <%= text_field_tag 'group[title]', nil, placeholder: 'Client ID', disabled: false, class: 'form-control input-block' %>

              <p>Secret</p>
              <%= text_field_tag 'group[title]', nil, placeholder: 'Secret', disabled: false, class: 'form-control input-block' %>

              <p>LMS Classroom Link</p>
              <%= text_field_tag 'group[title]', nil, placeholder: 'LMS Classroom Link', disabled: false, class: 'form-control input-block' %>
            </div>
            <%= submit_tag 'Save changes', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>