<h1 class="page-header">Add Organization</h1>
<div class="columns">
  <div class="one-half column centered">
    <%= form_for @organization do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <dl class="form">
        <dt><%= f.label :title %></dt>
        <dd><%= f.text_field :title, class: 'textfield' %></dd>
      </dl>

      <dl class="form">
        <dd class="select-organization">
          <%= select :organization, :github_id, options_for_select(@users_github_organizations) %>
        </dd>
      </dl>

      <div class="form-actions left">
        <%= link_to 'Cancel', @organization, class: 'btn', role: 'button' %>
        <%= f.submit 'Add Organization', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
