<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">New classroom</h2>
  </div>

  <div class="site-content-body">
    <% if @users_github_organizations.empty? %>
      <div class="blankslate large-format spacious clean-background">
        <h3>Oh, you don’t have any organizations on your GitHub account.</h3>

        <p>Please <a href="https://github.com/organizations/new">create an organization on GitHub.com</a> and then come back.</p>
      </div>
    <% else %>
      <%= form_for @organization do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <dl class="form">
          <dt><%= f.label :title %></dt>
          <dd><%= f.text_field :title, class: 'textfield' %></dd>
        </dl>

        <dl class="form">
          <dt><label>Select your GitHub organization to use for this classroom</label></dt>
          <dd>
            <%= select :organization, :github_id, options_for_select(@users_github_organizations), {}, {:class => 'select'} %>
          </dd>
        </dl>

        <div class="form-actions">
          <%= f.submit 'Create classroom', class: 'btn btn-green' %>
          <%= link_to 'Cancel', organizations_path, class: 'btn', role: 'button' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="protip">
  <%= octicon('light-bulb') %> <strong>ProTip!</strong> Don't see your organization? You need to <%= link_to 'grant us access', "https://github.com/settings/connections/applications/#{Rails.application.secrets.github_client_id}", target: '_blank' %> first.
</div>
