<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">New Assignment</h2>
  </div>

  <div class="site-content-body">
    <div class="columns">
      <div class="one-half column text-center">
        <span class="assignment-icon assignment-icon-individual">
          <%= octicon 'person', height: 22 %>
        </span>
        <h3 class="assignment-option-name">Individual assignment</h3>
        <p class="assignment-option-description">Each participant works individually on their own repository.</p>

        <%= link_to new_organization_assignment_path(@organization), class: 'btn btn-green', role: 'button' do %>
          Create an individual assignment
        <% end %>
      </div>
      <div class="one-half column text-center">
        <span class="assignment-icon assignment-icon-group">
          <%= octicon 'organization', height: 22 %>
        </span>
        <h3 class="assignment-option-name">Group assignment</h3>
        <p class="assignment-option-description">Participants form teams that work together on a shared repository.</p>

        <%= link_to new_organization_group_assignment_path(@organization), class: 'btn btn-green', role: 'button' do %>
          Create a group assignment
        <% end %>
      </div>
    </div>
  </div>
</div>
