<%= render 'organizations/organization_banner' %>

<h1 class="f2 text-normal mt-5 mb-3"><%= t('views.organizations.new_assignment') %></h1>

<div class="Box">
  <div>
    <div class="Box-row d-md-flex flex-justify-between flex-items-center">
      <div class="d-flex">
        <span class="assignment-icon assignment-icon-individual mr-3">
          <%= octicon 'person', height: 22 %>
        </span>
        <div>
          <h2 class="h3"><%= link_to t('views.organizations.individual_assignment'), new_organization_assignment_path(current_organization) %></h2>
          <p><%= t('views.organizations.individual_assignment_desc') %></p>
        </div>
      </div>
      <div>
        <%= link_to new_organization_assignment_path(current_organization), class: 'btn btn-primary', role: 'button' do %>
          <%= t('views.organizations.create_individual_assignment') %>
        <% end %>
      </div>
    </div>
    <div class="Box-row d-md-flex flex-justify-between flex-items-center">
      <div class="d-flex">
        <span class="assignment-icon assignment-icon-group mr-3">
          <%= octicon 'organization', height: 22 %>
        </span>
        <div>
          <h2 class="h3"><%= link_to t('views.organizations.group_assignment'), new_organization_group_assignment_path(current_organization) %></h2>
          <p><%= t('views.organizations.group_assignment_desc') %></p>
        </div>
      </div>
      <div>
        <%= link_to new_organization_group_assignment_path(current_organization), class: 'btn btn-primary', role: 'button' do %>
          <%= t('views.organizations.create_group_assignment') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
