<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading"><%= t('views.organizations.name_your_classroom') %></h2>
  </div>

  <div class="site-content-body">
    <%= form_for current_organization, url: { action: :setup_organization } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="columns">
        <div class="two-thirds column">
          <dl class="form">
            <dt><label><%= t('views.organizations.give_descriptive_name') %></label></dt>
            <dd><%= f.text_field :title, class: 'textfield form-control input-contrast input-block', placeholder: t('views.organizations.give_descriptive_name') %></dd>
          </dl>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit t('views.organizations.continue'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
