<div class="container-lg p-responsive">
  <div class="Subhead Subhead--spacious">
    <div class="Subhead-heading"><%= t('views.organizations.name_your_classroom') %></div>
  </div>

  <div class="col-md-6">
    <%= form_for current_organization, url: { action: :setup_organization } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <dl class="form-group">
        <dt><label><%= t('views.organizations.give_descriptive_name') %></label></dt>
        <dd><%= f.text_field :title, class: 'textfield form-control input-contrast input-block', placeholder: t('views.organizations.give_descriptive_name') %></dd>
      </dl>

      <div class="my-4">
        <%= f.submit t('views.organizations.continue'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
