<div class="container-lg p-responsive">
  <div class="Subhead Subhead--spacious">
    <div class="Subhead-heading"><%= t('views.organizations.setup_your_classroom') %></div>
  </div>

  <div class="col-md-6">
    <div class="my-3">
      <h2 class="h3 mb-2">Import from</h2>

      <%= link_to image_tag('google-classroom-logo.png', size: "25", class:"mr-2") + "Google Classroom",
        select_google_classroom_organization_path(current_organization),
        class: "btn btn-secondary d-inline-flex flex-items-center mb-3"
      %>

      <%= link_to image_tag('canvas-logo.png', size: "25", class:"mr-2") + "Canvas",
        info_lti_configuration_path(current_organization),
        class: "btn btn-secondary d-inline-flex flex-items-center mb-3"
      %>

       <%= link_to image_tag('moodle-logo.png', height: "25", class:"mr-2"),
        info_lti_configuration_path(current_organization),
        class: "btn btn-secondary d-inline-flex flex-items-center mb-3"
      %>

       <%= link_to image_tag('brightspace-logo.png', height: "30", class:"mr-2"),
        info_lti_configuration_path(current_organization),
        class: "btn btn-secondary d-inline-flex flex-items-center mb-3"
      %>
    </div>
  </div>

  <div class="col-md-6 my-sm-5">
    <div class="f4 text-gray text-italic">or...</div>
  </div>

  <div class="col-md-6">
    <h2 class="h3 mb-2">Manually create your classroom</div>
    <%= form_for current_organization, url: { action: :setup_organization } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <dl class="form-group">
        <dt><label><%= t('views.organizations.give_descriptive_name') %></label></dt>
        <dd><%= f.text_field :title, class: 'textfield form-control input-contrast input-block', placeholder: t('views.organizations.give_descriptive_name') %></dd>
      </dl>

      <div class="my-4">
        <%= f.submit t('views.organizations.continue'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
