<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">

      <div class="boxed-group">
        <h3><%= t('views.organizations.set_of_teams') %></h3>
        <div class="boxed-group-inner clearfix">
          <ul class="boxed-group-list standalone">
            <% if current_organization.groupings.present? %>
              <%= render partial: "organizations/grouping", collection: current_organization.groupings %>
            <% else %>
              <div class="blankslate clean-background">
                <p><h4><%= t('views.organizations.no_teams') %></h4></p>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
