<h1 class="page-header">
  <%= @organization.title %>
  <%= link_to 'Edit', edit_organization_path, class: 'lead' %>
</h1>

<div class="columns">
  <% if @assignments.present? %>
    <div class="one-fourth column">
      <%= link_to new_assignment_organization_path(@organization), class: 'btn btn-primary', role: 'button' do %>
        <%= octicon('plus') %> New assignment
      <% end %>
    </div>

    <div class="three-fourths column">
      <%= render @assignments %>
      <%= paginate @assignments %>
    </div>
  <% else %>
    <div class="blankslate">
      <h3>It appears that this organization doesn't have any assignments. Create one now to get started.</h3>
      <%= link_to new_assignment_organization_path(@organization), class: 'btn btn-primary', role: 'button' do %>
        <%= octicon('plus') %> New assignment
      <% end %>
    </div>
  <% end %>
</div>
