<%= render 'organizations/organization_banner' %>

<div class="container-lg p-responsive">
  <div class="d-md-flex flex-items-center flex-justify-between mt-5 mb-3">
    <% if @assignments.present? && current_organization.archived? %>
      <%= link_to t('views.organizations.new_assignment'), new_assignment_organization_path(current_organization), class: 'btn btn-primary right disabled', role: 'button'%>
    <% elsif @assignments.present? %>
      <%= link_to t('views.organizations.new_assignment'), new_assignment_organization_path(current_organization), class: 'btn btn-primary right', role: 'button'%>
    <% end %>
  </div>

  <% if @assignments.present? %>
    <%= render @assignments %>
    <%= render partial: 'shared/pagination', locals: { collection: @assignments } %>
  <% else %>
    <div class="blankslate mt-3 py-8">
      <img src="https://ghicons.github.com/assets/images/light/Code%20Hosting.png" alt="repository icon" class="mb-3" />
      <h3 class="lh-condensed mb-2"><%= t('views.organizations.no_assignments') %></h3>
      <p class="col-md-8 mx-auto">
        <a href='<%= new_organization_assignment_path(current_organization) %>'>Create an individual assignment</a> to generate an assignment repository for each student to work from.
        Or, <a href='<%= new_organization_group_assignment_path(current_organization) %>'>create a group assignment</a> and have students work collaboratively in team repositories.
      </p>
      <details class="dropdown details-reset details-overlay d-inline-block mt-2">
        <summary class="btn btn-primary btn-sm" aria-haspopup="true">
          Create your first assignment
          <div class="dropdown-caret ml-2 mb-n1"></div>
        </summary>

        <ul class="dropdown-menu dropdown-menu-se text-left">
          <li><a class="dropdown-item" href='<%= new_organization_assignment_path(current_organization) %>'>Individual assignment</a></li>
          <li><a class="dropdown-item " href='<%= new_organization_group_assignment_path(current_organization) %>'>Group assignment</a></li>
        </ul>
      </details>

    </div>
  <% end %>
