<% content_for :organization_banner do %>
  <div class="organization-banner">
    <div class="container">
      <%= link_to 'Edit', edit_organization_path, class: 'btn btn-green' %>
      <h1 class="organization-name"><%= @organization.title %></h1>
    </div>
  </div>
<% end %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">Assignments</h2>
  </div>

  <div class="site-content-body">
    <% if @assignments.present? %>
      <%= link_to new_assignment_organization_path(@organization), class: 'btn btn-primary', role: 'button' do %>
        New assignment
      <% end %>

      <%= render @assignments %>
      <%= paginate @assignments %>

    <% else %>
      <div class="blankslate large-format spacious clean-background">
        <h3>This organization doesn’t have any assignments yet.</h3>
        <%= link_to new_assignment_organization_path(@organization), class: 'btn btn-green btn-big', role: 'button' do %>
          Create your first assignment
        <% end %>
      </div>
    <% end %>
  </div>
</div>
