<%= render 'organizations/organization_banner' %>

<div class="Box Box--spacious">
  <div class="Box-header d-flex flex-items-center">
    <h3 class="Box-title overflow-hidden flex-auto">Assignments</h3>
    <% if @assignments.present? %>
      <%= link_to 'New assignment', new_assignment_organization_path(@organization), class: 'btn btn-primary right', role: 'button'%>
    <% end %>
  </div>

  <% if @assignments.present? %>
    <div><%= render @assignments %></div>
  <% else %>
    <div class="blankslate blankslate-spacious blankslate-clean-background">
      <h3>This organization doesn’t have any assignments yet.</h3>
      <%= link_to new_assignment_organization_path(@organization), class: 'btn btn-large btn-primary f3 mt-3', role: 'button' do %>
        Create your first assignment
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/pagination', locals: { collection: @assignments } %>
