<div class="d-flex flex-md-row flex-items-center classroom-resource-item">
  <div class="col-1 d-flexp">
    <%= image_tag github_avatar_url(organization.github_id, 96), height: 48, width: 48, class: 'avatar left', alt: "@#{organization.login}" %>
  </div>

  <div class="col-10 col-md-10 d-flex flex-column">
    <%= link_to stafftools_organization_path(organization.id) do %>
      <strong class="search-result-title"><%= organization.login %></strong>
    <% end %>

    <span class="text-gray css-truncate css-truncate-target"><%= t('views.stafftools.organizations.added') %> <%= local_time_ago(organization.created_at) %></span><br>
  </div>
</div>
