<div class="remodal text-left" data-remodal-id="remove-user-from-organization-<%= user.id %>">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header"><%= t('views.stafftools.organizations.remove_owner_header') %></h2>

  <div class="remodal-description">
    <p><%= t('views.stafftools.organizations.remove_owner_desc') %></p>
  </div>

  <%= button_to t('views.stafftools.organizations.remove_user_btn_text'), remove_user_stafftools_organization_path(@organization.id, user.id), method: :delete, class: 'btn btn-danger btn-block js-submit' %>
</div>
