<div class="site-content">
  <div class="stafftools-page-header clearfix">
    <span class="assignment-icon assignment-icon-individual left">
      <%= image_tag organization.avatar_url(96), height: 48, width: 48, class: 'avatar left', alt: "@#{organization.login}" %>
    </span>

    <h2 class="stafftools-heading">
      <%= organization.title %>
    </h2>

    <p class="assignment-type text-muted">Classroom</p>
  </div>

  <div class="boxed-group">
    <h3>Classroom information</h3>

    <div class="boxed-group-inner">
      <table>
        <tr>
          <td class="text-emphasized">GitHub</td>
          <td><%= link_to organization.github_url, organization.github_url %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Joined on</td>
          <td><%= local_time(organization.created_at) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Last updated</td>
          <td><%= local_time(organization.updated_at) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="boxed-group">
    <h3>Owners</h3>

    <div class="boxed-group-inner">
      <ul class="boxed-group-list standalone">
        <%= render partial: 'stafftools/organizations/user', collection: organization.users.decorate %>
      </ul>
    </div>
  </div>

  <% if organization.all_assignments.present? %>
    <div class="boxed-group">
      <h3>Assignments</h3>

      <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
          <% organization.all_assignments.each do |assignment| %>
            <% type = assignment.class.to_s.underscore %>
            <%= render partial: "stafftools/organizations/#{type}", locals: { :"#{type}" => assignment } %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if organization.groupings.present? %>
    <div class="boxed-group">
      <h3>Groupings</h3>

      <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
          <%= render partial: "stafftools/organizations/grouping", collection: organization.groupings %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
