<header class="header">
  <div class="container">
    <%= link_to (logged_in? ? dashboard_path : root_path), class: 'logo' do %>
      <%= mega_octicon('mortar-board') %>
      Classroom
    <% end %>
    <nav class="header-nav">
      <% if logged_in? %>
        <%= link_to "Dashboard", dashboard_path %>
        <%= link_to 'Sign out', logout_path %>
      <% else %>
        <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>
  </div>
</header>
