<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Classroom for GitHub</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta property="og:title" content="Classroom for GitHub" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Classroom for GitHub automates repository creation and access control, making it easy for teachers to distribute starter code and collect assignments on GitHub." />
    <meta property="og:url" content="https://classroom.github.com/" />
    <meta property="og:image" content="https://cloud.githubusercontent.com/assets/123345/9819714/95b26b9c-58a7-11e5-99e9-d65996d53687.png" />
  </head>
  <body class="site <%= controller_name %> <%= action_name %>">
    <div class="loading-indicator" style="display: none;"></div>

    <%= render 'peek/bar' %>
    <%= render 'shared/header' %>

    <main>
      <%= yield :organization_banner %>

      <%= render 'shared/flash_messages' %>

      <div class="site-content">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </main>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
