<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GitHub Classroom</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= render 'shared/open_graph' %>
  </head>
  <body class="site <%= controller_name %> <%= action_name %>">
    <div class="loading-indicator" style="display: none;"></div>

    <%= render 'peek/bar' %>
    <main>
      <%= render 'shared/message_of_the_day' %>
      <%= render 'shared/header' %>

      <%= yield :organization_banner %>

      <div id="flash-messages">
        <%= render 'shared/flash_messages' %>
      </div>

      <div class="container-lg">
          <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
  </body>
</html>
