<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GitHub Classroom</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= render 'shared/open_graph' %>
  </head>
  <body class="site <%= controller_name %> <%= action_name %>">

    <main>
      <%= render 'shared/message_of_the_day' %>
      <%= render 'shared/header' %>

      <div id="flash-messages">
        <% flash.each do |type, message| %>
          <%= content_tag :div, class: "flash #{primer_class_for('alert')}" do %>
            <div class="container-lg text-center">
              <strong><%= message %></strong>
            </div>
          <% end %>
        <% end %>
      </div>

      <%= yield %>
    </main>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'pages' %>
  </body>
</html>
